{
  "openapi": "3.0.0",
  "info": {
    "title": "Hub de API's",
    "description": "O Hub de API's do Layers permite que apps troquem informações seguindo protocolos de requisição e resposta",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.layers.digital/v1"
    }
  ],
  "paths": {
    "/services/call/{action}/{provider}": {
      "post": {
        "tags": [
          "API Hub"
        ],
        "summary": "Requisitar e Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações devem realizar a requisição no explicitado, já apps que provém informações receberão a requisição descrita como `callback` e devem receber e responder requisições no formato descrito pela action.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/Action"
          },
          {
            "$ref": "#/components/parameters/Provider"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:Calendar:getRelated-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:Calendar:getRelated"
                }
              }
            }
          }
        },
        "callbacks": {
          "{$request.param.action}": {
            "https://api.endpointregistrado.com": {
              "post": {
                "summary": "Requisição de informações para o app provedor",
                "description": "O Layers repassa a requisição do app que requisitou informações por meio da action para o app provedor adicionando as chaves `context` e `secret`",
                "requestBody": {
                  "content": {
                    "application/json": {
                      "schema": {
                        "$ref": "#/components/requestBodies/@layers:Calendar:getRelated-provide"
                      }
                    }
                  }
                },
                "responses": {
                  "200": {
                    "description": "OK",
                    "content": {
                      "application/json": {
                        "schema": {
                          "$ref": "#/components/responseBodies/@layers:Calendar:getRelated"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/services/discover/{action}": {
      "get": {
        "tags": [
          "API Hub"
        ],
        "summary": "Encontrar provedores",
        "description": "Encontrar apps que provém informações para a action especificada",
        "security": [
          {
            "Bearer": [],
            "x-layers-context": [
              "app"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/Action"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do app provedor de informações",
                        "example": "erp-modelo"
                      },
                      "icon": {
                        "type": "string",
                        "description": "Logo do app proverdor de informações"
                      },
                      "displayName": {
                        "type": "string",
                        "description": "Nome do app provedor de informações",
                        "example": "ERP Modelo"
                      },
                      "versions": {
                        "type": "array",
                        "items": {
                          "type": "number",
                          "format": "integer",
                          "description": "Versões da action que o app provedor responde",
                          "example": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Community-id": {
        "name": "community-id",
        "in": "header",
        "description": "Identificador da comunidade",
        "required": true,
        "schema": {
          "type": "string",
          "example": "test"
        }
      },
      "Action": {
        "name": "action",
        "in": "path",
        "description": "Identificador da action",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "Provider": {
        "name": "provider",
        "in": "path",
        "description": "Identificador do app provedor de informações",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "@layers:Calendar:getRelated-provide": {
        "type": "object",
        "properties": {
          "context": {
            "type": "object",
            "properties": {
              "issuedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Data e hora de quando a requisição foi feita"
              },
              "action": {
                "type": "string",
                "description": "Identificador da action",
                "example": "@layers:Calendar:getRelated"
              },
              "community": {
                "type": "string",
                "description": "Identificador da comunidade",
                "example": "test"
              }
            }
          },
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "format": "ObjectId",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "Carlos Pereira"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador do usuário na comunidade",
                    "example": "user2"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fusorário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua do usuário",
                    "example": "pt/BR"
                  },
                  "acconuntId": {
                    "type": "string",
                    "format": "ObjectId",
                    "description": "Identificador da conta do usuário"
                  }
                }
              }
            }
          },
          "secret": {
            "type": "string",
            "description": "Chave secreta específica do app"
          }
        }
      },
      "@layers:Calendar:getRelated-request": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário"
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "example": "Carlos Pereira"
              },
              "alias": {
                "type": "string",
                "description": "Identificador do usuário na comunidade",
                "example": "user2"
              },
              "timezone": {
                "type": "string",
                "description": "Fusorário do usuário",
                "example": "America/Sao_Paulo"
              },
              "language": {
                "type": "string",
                "description": "Língua do usuário",
                "example": "pt/BR"
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário"
              }
            }
          }
        }
      }
    },
    "responseBodies": {
      "@layers:Calendar:getRelated": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identificador interno da grade horária",
                  "required": true,
                  "example": "0001"
                },
                "summary": {
                  "type": "string",
                  "description": "Título do calendário",
                  "required": true,
                  "example": "Calendário acadêmico"
                },
                "description": {
                  "type": "string",
                  "description": "Descrição do calendário",
                  "required": false,
                  "example": "Calendário acadêmico geral"
                },
                "timezone": {
                  "type": "string",
                  "description": "Timezone global",
                  "required": false,
                  "example": "America/Sao_Paulo"
                },
                "events": {
                  "type": "array",
                  "description": "Eventos do calendário",
                  "required": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador interno do evento",
                        "required": false,
                        "example": "0001"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Nome do evento",
                        "required": true,
                        "example": "Natal"
                      },
                      "start": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora de início do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário",
                        "required": true
                      },
                      "end": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora do final do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário",
                        "required": true
                      },
                      "category": {
                        "type": "string",
                        "description": "Categoria do evento",
                        "required": false,
                        "example": "Eventos"
                      },
                      "color": {
                        "type": "string",
                        "description": "Cor do evento",
                        "required": false,
                        "example": "orange"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora de criação do evento",
                        "required": false
                      }
                    }
                  }
                },
                "categories": {
                  "type": "array",
                  "description": "Categorias associadas aos eventos. São usadas para definir a cor de cada evento. Caso um evento tenha uma categoria não definida nesse objeto sua cor será definida automaticamente",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome da categoria de eventos. Deve corresponder à categoria atribuída a pelo menos um evento",
                        "required": true,
                        "example": "Eventos"
                      },
                      "color": {
                        "type": "string",
                        "description": "Cor associada a categoria. Pode ser uma das cores predefinidas (aqua, purple, salmon, yellow-dark, link, lead-light, danger, success) ou uma cor em hexadecimal",
                        "required": true,
                        "example": "aqua"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "description": "Generate a token",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "x-layers-permissions": {
          "type": "array"
        },
        "x-layers-contexts": {
          "type": "array"
        }
      }
    }
  },
  "x-nav": [
    {
      "name": "Hub de APIs",
      "tags": [
        "API Hub"
      ]
    }
  ]
}