{
  "openapi": "3.0.0",
  "info": {
    "title": "Hub de API's",
    "description": "O Hub de API's do Layers permite que apps troquem informações seguindo protocolos de requisição e resposta",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.provedor-registrado.com/v1"
    }
  ],
  "paths": {
    "/@layers:Calendar:getRelated": {
      "post": {
        "tags": [
          "Calendar:getRelated"
        ],
        "summary": "Prover informações de calendário",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de calendário por meio da action `@layers:Calendar:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:Calendar:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:Calendar:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:AcademicRecords:getRelated": {
      "post": {
        "tags": [
          "AcademicRecords:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:education:AcademicRecords:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:education:AcademicRecords:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:AcademicRecords:markRecordsAsViewed": {
      "post": {
        "tags": [
          "AcademicRecords:markRecordsAsViewed"
        ],
        "summary": "Marcar Registros como vistos",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:markRecordsAsViewed` receberão a requisição no formato abaixo e devem respondê-la com o status HTTP `200` indicando que os registros foram marcados como lidos.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:education:AcademicRecords:markRecordsAsViewed"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/@layers:education:GradeBooks:getRelated": {
      "post": {
        "tags": [
          "GradeBooks:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de notas acadêmicas por meio da action `@layers:education:GradeBooks:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:education:GradeBooks:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:education:GradeBooks:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:Timetables:getRelated": {
      "post": {
        "tags": [
          "Timetables:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:education:Timetables:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:education:Timetables:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/layers:getHomeInfo": {
      "post": {
        "tags": [
          "getHomeInfo"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:getHomeInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:getHomeInfo"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:health:MedicalRecord:getRelated": {
      "post": {
        "tags": [
          "MedicalRecord:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de ficha horária por meio da action `@layers:health:MedicalRecord:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:health:MedicalRecord:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:health:MedicalRecord:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:payments:Payables:getRelated": {
      "post": {
        "tags": [
          "Payables:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de cobranças por meio da action `@layers:payments:Payables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:payments:Payables:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:payments:Payables:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "undefined": {
      "undefined": {
        "/@layers:Calendar:getRelated": {
          "tags": [
            "Calendar:getRelated"
          ],
          "summary": "Prover informações de calendário",
          "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de calendário por meio da action `@layers:Calendar:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
          "security": [
            {
              "Bearer": [],
              "layers-context": [
                "app"
              ]
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/requestBodies/@layers:Calendar:getRelated"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/responseBodies/@layers:Calendar:getRelated"
                  }
                }
              }
            }
          }
        },
        "/@layers:education:AcademicRecords:getRelated": {
          "tags": [
            "AcademicRecords:getRelated"
          ],
          "summary": "Prover informações",
          "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
          "security": [
            {
              "Bearer": [],
              "layers-context": [
                "app"
              ]
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/requestBodies/@layers:education:AcademicRecords:getRelated"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/responseBodies/@layers:education:AcademicRecords:getRelated"
                  }
                }
              }
            }
          }
        },
        "/@layers:education:AcademicRecords:markRecordsAsViewed": {
          "tags": [
            "AcademicRecords:markRecordsAsViewed"
          ],
          "summary": "Marcar Registros como vistos",
          "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:markRecordsAsViewed` receberão a requisição no formato abaixo e devem respondê-la com o status HTTP `200` indicando que os registros foram marcados como lidos.",
          "security": [
            {
              "Bearer": [],
              "layers-context": [
                "app"
              ]
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/requestBodies/@layers:education:AcademicRecords:markRecordsAsViewed"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK"
            }
          }
        },
        "/@layers:education:GradeBooks:getRelated": {
          "tags": [
            "GradeBooks:getRelated"
          ],
          "summary": "Prover informações",
          "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de notas acadêmicas por meio da action `@layers:education:GradeBooks:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
          "security": [
            {
              "Bearer": [],
              "layers-context": [
                "app"
              ]
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/requestBodies/@layers:education:GradeBooks:getRelated"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/responseBodies/@layers:education:GradeBooks:getRelated"
                  }
                }
              }
            }
          }
        },
        "/@layers:education:Timetables:getRelated": {
          "tags": [
            "Timetables:getRelated"
          ],
          "summary": "Prover informações",
          "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
          "security": [
            {
              "Bearer": [],
              "layers-context": [
                "app"
              ]
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/requestBodies/@layers:education:Timetables:getRelated"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/responseBodies/@layers:education:Timetables:getRelated"
                  }
                }
              }
            }
          }
        },
        "/layers:getHomeInfo": {
          "tags": [
            "getHomeInfo"
          ],
          "summary": "Prover informações",
          "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
          "security": [
            {
              "Bearer": [],
              "layers-context": [
                "app"
              ]
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/requestBodies/@layers:getHomeInfo"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/responseBodies/@layers:getHomeInfo"
                  }
                }
              }
            }
          }
        },
        "/@layers:health:MedicalRecord:getRelated": {
          "tags": [
            "MedicalRecord:getRelated"
          ],
          "summary": "Prover informações",
          "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de ficha horária por meio da action `@layers:health:MedicalRecord:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
          "security": [
            {
              "Bearer": [],
              "layers-context": [
                "app"
              ]
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/requestBodies/@layers:health:MedicalRecord:getRelated"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/responseBodies/@layers:health:MedicalRecord:getRelated"
                  }
                }
              }
            }
          }
        },
        "/@layers:payments:Payables:getRelated": {
          "tags": [
            "Payables:getRelated"
          ],
          "summary": "Prover informações",
          "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de cobranças por meio da action `@layers:payments:Payables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
          "security": [
            {
              "Bearer": [],
              "layers-context": [
                "app"
              ]
            }
          ],
          "requestBody": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/requestBodies/@layers:payments:Payables:getRelated"
                }
              }
            }
          },
          "responses": {
            "200": {
              "description": "OK",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/responseBodies/@layers:payments:Payables:getRelated"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Community-id": {
        "name": "community-id",
        "in": "header",
        "description": "Identificador da comunidade",
        "required": true,
        "schema": {
          "type": "string",
          "example": "test"
        }
      },
      "Action": {
        "name": "action",
        "in": "path",
        "description": "Identificador da action",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "@layers:Calendar:getRelated",
            "@layers:education:AcademicRecords:getRelated",
            "@layers:education:AcademicRecords:markRecordsAsViewed",
            "@layers:education:Attendance:getRelated",
            "@layers:education:Timetables:getRelated",
            "@layers:education:GradeBooks:getRelated",
            "@layers:getHomeInfo",
            "@layers:health:MedicalRecord:getRelated",
            "@layers:payments:Payables:getRelated"
          ]
        }
      },
      "Provider": {
        "name": "provider",
        "in": "path",
        "description": "Identificador do app provedor de informações",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "requestBodies": {
      "Context": {
        "type": "object",
        "properties": {
          "context": {
            "type": "object",
            "properties": {
              "issuedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Data e hora de quando a requisição foi feita"
              },
              "action": {
                "type": "string",
                "description": "Identificador da action",
                "example": "@layers:Calendar:getRelated"
              },
              "community": {
                "type": "string",
                "description": "Identificador da comunidade",
                "example": "test"
              }
            }
          },
          "secret": {
            "type": "string",
            "description": "Chave secreta específica do app"
          }
        }
      },
      "@layers:Calendar:getRelated-provide": {
        "allOf": [
          {
            "$ref": "#/components/requestBodies/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "$ref": "#/components/requestBodies/@layers:Calendar:getRelated-request"
              }
            }
          }
        ]
      },
      "@layers:Calendar:getRelated": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário",
                "required": true
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "example": "Carlos Pereira",
                "required": true
              },
              "alias": {
                "type": "string",
                "description": "Identificador do usuário na comunidade",
                "example": "user2",
                "required": true
              },
              "timezone": {
                "type": "string",
                "description": "Fuso horário do usuário",
                "example": "America/Sao_Paulo",
                "required": true
              },
              "language": {
                "type": "string",
                "description": "Língua do usuário",
                "example": "pt/BR",
                "required": true
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário",
                "required": true
              }
            }
          }
        }
      },
      "@layers:education:AcademicRecords:getRelated": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário",
                "required": true
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "required": true,
                "example": "João Pedro"
              },
              "alias": {
                "type": [
                  "string",
                  "number",
                  null
                ],
                "description": "Identificador interno do usuário",
                "required": true,
                "example": "0001"
              },
              "timezone": {
                "type": "string",
                "description": "Fuso horário do usuário",
                "required": true,
                "example": "America/Sao_Paulo"
              },
              "language": {
                "type": "string",
                "description": "Língua preferencial do usuário",
                "required": true,
                "example": "pt/BR"
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário",
                "required": true
              }
            }
          },
          "createdAfter": {
            "type": [
              "string",
              null
            ],
            "format": "date",
            "description": "Se não for null a resposta deve conter apenas registros criados depois dessa data"
          }
        }
      },
      "@layers:education:AcademicRecords:markRecordsAsViewed": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário",
                "required": true
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "example": "Carlos Pereira",
                "required": true
              },
              "alias": {
                "type": "string",
                "description": "Identificador do usuário na comunidade",
                "example": "user2",
                "required": true
              },
              "timezone": {
                "type": "string",
                "description": "Fuso horário do usuário",
                "example": "America/Sao_Paulo",
                "required": true
              },
              "language": {
                "type": "string",
                "description": "Língua do usuário",
                "example": "pt/BR",
                "required": true
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário",
                "required": true
              }
            }
          },
          "groupId": {
            "type": [
              "string",
              null
            ],
            "description": "Identificador único do grupo de registros",
            "required": true,
            "example": "grupo_de_registros_1"
          },
          "recordsIds": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Identificadores únicos dos registros individuais",
              "required": true,
              "example": "id_do_registro_A"
            }
          }
        }
      },
      "@layers:education:GradeBooks:getRelated": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário",
                "required": true
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "required": true,
                "example": "João Pedro"
              },
              "alias": {
                "type": [
                  "string",
                  "number",
                  null
                ],
                "description": "Identificador interno do usuário",
                "required": true,
                "example": "0001"
              },
              "timezone": {
                "type": "string",
                "description": "Fuso horário do usuário",
                "required": true,
                "example": "America/Sao_Paulo"
              },
              "language": {
                "type": "string",
                "description": "Língua preferencial do usuário",
                "required": true,
                "example": "pt/BR"
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário",
                "required": true
              }
            }
          }
        }
      },
      "@layers:education:Timetables:getRelated": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário",
                "required": true
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "required": true,
                "example": "João Pedro"
              },
              "alias": {
                "type": [
                  "string",
                  "number",
                  null
                ],
                "description": "Identificador interno do usuário",
                "required": true,
                "example": "0001"
              },
              "timezone": {
                "type": "string",
                "description": "Fuso horário do usuário",
                "required": true,
                "example": "America/Sao_Paulo"
              },
              "language": {
                "type": "string",
                "description": "Língua preferencial do usuário",
                "required": true,
                "example": "pt/BR"
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário",
                "required": true
              }
            }
          }
        }
      },
      "@layers:getHomeInfo": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário",
                "required": true
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "required": true,
                "example": "João Pedro"
              },
              "alias": {
                "type": [
                  "string",
                  "number",
                  null
                ],
                "description": "Identificador interno do usuário",
                "required": true,
                "example": "0001"
              },
              "timezone": {
                "type": "string",
                "description": "Fuso horário do usuário",
                "required": true,
                "example": "America/Sao_Paulo"
              },
              "language": {
                "type": "string",
                "description": "Língua preferencial do usuário",
                "required": true,
                "example": "pt/BR"
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário",
                "required": true
              }
            }
          }
        }
      },
      "@layers:health:MedicalRecord:getRelated": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário",
                "required": true
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "required": true,
                "example": "João Pedro"
              },
              "alias": {
                "type": [
                  "string",
                  "number",
                  null
                ],
                "description": "Identificador interno do usuário",
                "required": true,
                "example": "0001"
              },
              "timezone": {
                "type": "string",
                "description": "Fuso horário do usuário",
                "required": true,
                "example": "America/Sao_Paulo"
              },
              "language": {
                "type": "string",
                "description": "Língua preferencial do usuário",
                "required": true,
                "example": "pt/BR"
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário",
                "required": true
              }
            }
          }
        }
      },
      "@layers:payments:Payables:getRelated": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário",
                "required": true
              },
              "name": {
                "type": "string",
                "description": "Nome do usuário",
                "required": true,
                "example": "João Pedro"
              },
              "alias": {
                "type": [
                  "string",
                  "number",
                  null
                ],
                "description": "Identificador interno do usuário",
                "required": true,
                "example": "0001"
              },
              "timezone": {
                "type": "string",
                "description": "Fuso horário do usuário",
                "required": true,
                "example": "America/Sao_Paulo"
              },
              "language": {
                "type": "string",
                "description": "Língua preferencial do usuário",
                "required": true,
                "example": "pt/BR"
              },
              "acconuntId": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador da conta do usuário",
                "required": true
              }
            }
          }
        }
      }
    },
    "responseBodies": {
      "@layers:Calendar:getRelated": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identificador interno da grade horária",
                  "required": true,
                  "example": "0001"
                },
                "summary": {
                  "type": "string",
                  "description": "Título do calendário",
                  "required": true,
                  "example": "Calendário acadêmico"
                },
                "description": {
                  "type": "string",
                  "description": "Descrição do calendário",
                  "required": false,
                  "example": "Calendário acadêmico geral"
                },
                "timezone": {
                  "type": "string",
                  "description": "Timezone global",
                  "required": false,
                  "example": "America/Sao_Paulo"
                },
                "events": {
                  "type": "array",
                  "description": "Eventos do calendário",
                  "required": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador interno do evento",
                        "required": false,
                        "example": "0001"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Nome do evento",
                        "required": true,
                        "example": "Natal"
                      },
                      "start": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora de início do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário",
                        "required": true
                      },
                      "end": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora do final do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário",
                        "required": true
                      },
                      "category": {
                        "type": "string",
                        "description": "Categoria do evento",
                        "required": false,
                        "example": "Eventos"
                      },
                      "color": {
                        "type": "string",
                        "description": "Cor do evento",
                        "required": false,
                        "example": "orange"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora de criação do evento",
                        "required": false
                      }
                    }
                  }
                },
                "categories": {
                  "type": "array",
                  "description": "Categorias associadas aos eventos. São usadas para definir a cor de cada evento. Caso um evento tenha uma categoria não definida nesse objeto sua cor será definida automaticamente",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome da categoria de eventos. Deve corresponder à categoria atribuída a pelo menos um evento",
                        "required": true,
                        "example": "Eventos"
                      },
                      "color": {
                        "type": "string",
                        "description": "Cor associada a categoria. Pode ser uma das cores predefinidas (aqua, purple, salmon, yellow-dark, link, lead-light, danger, success) ou uma cor em hexadecimal",
                        "required": true,
                        "example": "aqua"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "@layers:education:AcademicRecords:getRelated": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo de registros",
                  "required": false,
                  "example": "RA"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "required": false,
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Título do grupo de registros",
                  "required": true,
                  "example": "Matília Castelli"
                },
                "course": {
                  "type": "string",
                  "description": "Descrição do grupo de registros",
                  "required": true,
                  "example": "9º Ano - Ensino Fundamental"
                },
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID interno do registro no ERP para possível integração de duas vias",
                        "required": false,
                        "example": "ID_DO_REGISTRO"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data do envio do registro",
                        "required": true
                      },
                      "category": {
                        "type": "string",
                        "description": "Categoria do registro. Usaada para filtrar os registros",
                        "required": true,
                        "example": "Notificado por comparecer sem marterial escolar"
                      },
                      "caption": {
                        "type": "string",
                        "description": "Registro",
                        "required": true,
                        "exmaple": "Geografia"
                      },
                      "description": {
                        "type": "string",
                        "description": "Descrição do registro em markdown",
                        "required": true,
                        "example": "Não trouxe o material didático de Geografia"
                      },
                      "viewedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data na qual o registro foi marcado como visto. Se o registro ainda não tiver sido visto o valor será null",
                        "required": false,
                        "default": null
                      },
                      "viewedBy": {
                        "type": "string",
                        "description": "Quem marcou o registro como visto. Se ninguém tiver visualizado o registro ainda o valor será `null`",
                        "required": false,
                        "default": null
                      },
                      "metadata": {
                        "type": "array",
                        "required": false,
                        "description": "Dados adicionais que podem ser vistos pelo usuário",
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "Título da informação",
                              "required": true,
                              "example": "Enviado por"
                            },
                            "value": {
                              "type": "string",
                              "description": "Valor da informação",
                              "required": true,
                              "example": "Vânia Almeida"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "@layers:education:GradeBooks:getRelated": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo do livro de notas",
                  "required": false,
                  "example": "0001"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "required": false,
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Nome do estudante",
                  "required": true,
                  "example": "Ivan Seidel Gomes"
                },
                "course": {
                  "type": "string",
                  "description": "Nome do curso ou série",
                  "required": true,
                  "example": "9º Ano"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "current",
                    "ended"
                  ],
                  "description": "Status desse livro de notas. Pode ser atual (current) ou de um período passado (ended)",
                  "required": true,
                  "example": "curren"
                },
                "terms": {
                  "type": "array",
                  "description": "Lista de livros de notas para cada período do ano letivo",
                  "required": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "Título do período letivo",
                        "required": true,
                        "example": "Primeiro Bimestre"
                      },
                      "startsAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de início do período",
                        "required": true
                      },
                      "endsAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de fim do período",
                        "required": true
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "unknown",
                          "scheduled",
                          "current",
                          "ended"
                        ],
                        "description": "Status do período letivo",
                        "required": true,
                        "example": "current"
                      },
                      "subjects": {
                        "type": "array",
                        "description": "Lista de notas das disciplinas",
                        "required": false,
                        "items": {
                          "type": "object",
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "Título da disciplina",
                              "required": true,
                              "example": "Português"
                            },
                            "abbr": {
                              "type": "string",
                              "description": "Abreviação da disciplina",
                              "required": false,
                              "example": "PORT"
                            },
                            "activities": {
                              "type": "array",
                              "description": "Lista de atividades",
                              "required": false,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "category": {
                                    "type": "string",
                                    "description": "Categoria da atividade",
                                    "required": false,
                                    "example": "Provas"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "Nome da atividade",
                                    "required": true,
                                    "example": "Prova 1"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descrição da atividade",
                                    "required": false,
                                    "example": "Verbos e substantivos"
                                  },
                                  "date": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Data da atividade",
                                    "required": false
                                  },
                                  "comment": {
                                    "type": "string",
                                    "description": "Comentário na atividade",
                                    "required": false,
                                    "example": "O aluno deve estudar mais o infinitivo"
                                  },
                                  "scoreGiven": {
                                    "type": [
                                      "number",
                                      "string",
                                      null
                                    ],
                                    "description": "Nota da atividade",
                                    "required": true,
                                    "example": 6.5
                                  },
                                  "scoreMaximum": {
                                    "type": [
                                      "number",
                                      "string"
                                    ],
                                    "description": "Pontuação máxima na atividade",
                                    "required": false,
                                    "example": 10
                                  },
                                  "scoreMood": {
                                    "type": "string",
                                    "enum": [
                                      "bad",
                                      "neutral",
                                      "good"
                                    ],
                                    "description": "Indica se a nota é boa (nota azul), neutra (opcional) ou ruim (nota vermelha)",
                                    "required": false,
                                    "example": "good"
                                  },
                                  "scoreDate": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Data na qual foi lançada a nota",
                                    "required": false
                                  }
                                }
                              }
                            },
                            "overall": {
                              "type": "array",
                              "description": "Lista de resultados gerais",
                              "required": false,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "attendance",
                                      "partial_grade",
                                      "final_grade",
                                      "other"
                                    ],
                                    "description": "Tipo do resultado",
                                    "required": true,
                                    "example": "attendance"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "Título do resultado",
                                    "required": true,
                                    "example": "Faltas"
                                  },
                                  "scoreGiven": {
                                    "type": [
                                      "number",
                                      "string",
                                      null
                                    ],
                                    "description": "Nota que o aluno recebeu neste resultado",
                                    "required": true,
                                    "example": "90%"
                                  },
                                  "scoreMaximum": {
                                    "type": [
                                      "number",
                                      "string",
                                      null
                                    ],
                                    "description": "Nota máxima nessa atividade",
                                    "required": true,
                                    "example": "100%"
                                  },
                                  "scoreMood": {
                                    "type": "string",
                                    "enum": [
                                      "bad",
                                      "neutral",
                                      "good"
                                    ],
                                    "description": "Indica se a nota é boa (nota azul), neutra (opcional) ou ruim (nota vermelha)",
                                    "required": false,
                                    "example": "good"
                                  },
                                  "featured": {
                                    "type": "boolean",
                                    "description": "Indica se o resultado é o mais importante",
                                    "required": false,
                                    "example": true
                                  }
                                }
                              }
                            },
                            "categories": {
                              "type": "array",
                              "description": "Lista de categorias",
                              "required": false,
                              "items": {
                                "type": "object",
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Nome da categoria utilizado nas atividades",
                                    "required": true,
                                    "example": "Provas"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descrição adicional da categoria",
                                    "required": false,
                                    "example": "Provas discussivas e/ou objetivas com intuito de avaliar o aprendizado"
                                  },
                                  "order": {
                                    "type": "number",
                                    "format": "integer",
                                    "description": "Posição na ordenação (aparecerá em ordem crescente)",
                                    "required": false,
                                    "example": 1
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "attachments": {
                  "type": "array",
                  "description": "Lista de anexos desse livro de notas",
                  "required": false,
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título do anexo",
                        "required": true,
                        "example": "CalculoDeNotas.pdf"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "file",
                          "link",
                          "image"
                        ],
                        "description": "Tipo do anexo",
                        "required": true,
                        "example": "file"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL para fazer download do anexo",
                        "required": true,
                        "example": "https://calculo.pdf"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "@layers:education:Timetables:getRelated": {
        "type": "object",
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno da grade horária",
                  "required": false,
                  "example": "0001"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "required": false,
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Nome do estudante",
                  "required": true,
                  "example": "Ivan Seidel Gomes"
                },
                "course": {
                  "type": "string",
                  "description": "Nome do curso ou série",
                  "required": false,
                  "example": "9º Ano"
                },
                "startWeekday": {
                  "type": "string",
                  "enum": [
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday",
                    "sunday"
                  ],
                  "description": "Dia em que começa a semana letiva",
                  "required": false,
                  "example": "monday"
                },
                "schedules": {
                  "type": "array",
                  "description": "Lista de grades horárias",
                  "required": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título da grade horária (atividade, disciplina, etc)",
                        "required": true,
                        "example": "Língua Portuguesa e os estudos"
                      },
                      "abbr": {
                        "type": "string",
                        "description": "Abreviação do título",
                        "required": false,
                        "example": "PORT"
                      },
                      "label": {
                        "type": "string",
                        "description": "Etiqueta do horário",
                        "required": false,
                        "example": "Extracurricular"
                      },
                      "weekDay": {
                        "type": "string",
                        "enum": [
                          "monday",
                          "tuesday",
                          "wednesday",
                          "thursday",
                          "friday",
                          "saturday",
                          "sunday"
                        ],
                        "description": "Dia da semana em que o horário é vigente",
                        "required": false,
                        "example": "monday"
                      },
                      "startTime": {
                        "type": "string",
                        "description": "Horário de início no formato (HH:MM:SS)",
                        "required": true,
                        "example": "15:30:00"
                      },
                      "endTime": {
                        "type": "string",
                        "description": "Horário de fim no formato (HH:MM:SS)",
                        "required": false,
                        "example": "16:30:00"
                      },
                      "location": {
                        "type": "string",
                        "description": "Localização do horário",
                        "required": false,
                        "example": "Campus SP, sala 12, bloco B"
                      },
                      "caption": {
                        "type": "string",
                        "description": "Subtítulo do horário",
                        "required": false,
                        "example": "Prof(a): Ana Maria"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "@layers:getHomeInfo": {
        "type": "object",
        "properties": {
          "badge": {
            "type": [
              "number",
              "boolean"
            ],
            "description": "O badge indica a se há notificações do seu app a serem vistas. Se for um booleano mostrará o badge quando for `true` e não quando for `false` e se for um número mostrará o badge com a contagem quando o valor for maior que 1",
            "required": false,
            "example": 1
          },
          "featured": {
            "type": "object",
            "description": "Informações de destaque",
            "required": false,
            "properties": {
              "title": {
                "type": "string",
                "description": "Título do grupo de cards",
                "required": true,
                "example": "1 novo item na agenda"
              },
              "cards": {
                "type": "string",
                "description": "Array de cards que estarão em destaque na home do Layers",
                "minItems": 1,
                "maxItems": 4,
                "required": true,
                "items": {
                  "type": "object",
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Descrição curta do card",
                      "maxLength": 26,
                      "required": true,
                      "example": "Evento"
                    },
                    "title": {
                      "type": "string",
                      "description": "Título do card",
                      "maxLength": 50,
                      "required": true,
                      "example": "Festa Junina"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição do card",
                      "required": false,
                      "example": "A festa junina será realizada no dia 12/06/2020. Todos estão convidados!"
                    },
                    "mood": {
                      "type": "string",
                      "enum": [
                        "neutral",
                        "attention",
                        "success",
                        "danger"
                      ],
                      "description": "Indica o tom do card para personalização do estilo",
                      "required": false,
                      "example": "neutral"
                    },
                    "image": {
                      "type": "string",
                      "description": "URL da imagem que aparece no card. O aspecto ideal é quadrado",
                      "required": false,
                      "example": "https://imagem.com"
                    },
                    "location": {
                      "type": "string",
                      "description": "Pode ser uma URL absoluta que será aberta no navegador ou uma URI de um recurso do Layers",
                      "required": true,
                      "example": "/portal/portalAlias/path/a/b/c"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "@layers:health:MedicalRecord:getRelated": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do prontuário",
                  "required": false,
                  "example": "0001"
                },
                "name": {
                  "type": "string",
                  "description": "Nome da pessoa do prontuário",
                  "required": true,
                  "example": "Lucas Grippa"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data da última atualização do prontuário",
                  "required": false
                },
                "sections": {
                  "type": "array",
                  "description": "Seções do prontuário",
                  "required": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título da seção do prontuário",
                        "required": true,
                        "example": "Contato de emergência"
                      },
                      "fields": {
                        "type": "array",
                        "description": "Campos da seção do prontuário",
                        "required": true,
                        "items": {
                          "anyOf": [
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "required": true,
                                  "example": "number"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "required": true,
                                  "example": "Peso"
                                },
                                "caption": {
                                  "type": "string",
                                  "description": "Descrição do campo",
                                  "required": false,
                                  "example": "(medido com roupa)"
                                },
                                "number": {
                                  "type": [
                                    "string",
                                    "number"
                                  ],
                                  "description": "Valor do campo",
                                  "required": true,
                                  "example": 57.5
                                },
                                "unit": {
                                  "type": "string",
                                  "description": "Unidade do número",
                                  "required": false,
                                  "example": "Kg"
                                },
                                "loinc": {
                                  "type": "string",
                                  "description": "Código LOINC do registro (https://loinc.org/3141-9/)",
                                  "required": false
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "required": true,
                                  "example": "text"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "required": true,
                                  "example": "Paulo Yoko"
                                },
                                "caption": {
                                  "type": "string",
                                  "description": "Descrição do campo",
                                  "required": false,
                                  "example": "Responsável legal"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Valor do campo",
                                  "required": true,
                                  "example": "+55 11 99331-6662 (cel)"
                                },
                                "loinc": {
                                  "type": "string",
                                  "description": "Código LOINC do registro (https://loinc.org/3141-9/)",
                                  "required": false
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "required": true,
                                  "example": "tags"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "required": true,
                                  "example": "Tipo sanguíneo"
                                },
                                "tags": {
                                  "type": [
                                    "string",
                                    "array"
                                  ],
                                  "description": "Valores das tags. Pode ser uma string ou array de strings",
                                  "required": true,
                                  "example": "O-"
                                },
                                "mood": {
                                  "type": "string",
                                  "enum": [
                                    "neutral",
                                    "good",
                                    "attention",
                                    "bad"
                                  ],
                                  "description": "Característica da informação (neutra, boa, ruim e precisa de atenção)",
                                  "required": true,
                                  "example": "neutral"
                                },
                                "loinc": {
                                  "type": "string",
                                  "description": "Código LOINC do registro (https://loinc.org/3141-9/)",
                                  "required": false
                                }
                              }
                            },
                            {
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "required": true,
                                  "example": "attachment"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "required": true,
                                  "example": "Peso"
                                },
                                "attachment": {
                                  "type": "object",
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "description": "Título do arquivo",
                                      "required": true,
                                      "example": "raiox.pdf"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "file",
                                        "link",
                                        "image"
                                      ],
                                      "description": "Tipo do arquivo",
                                      "required": true,
                                      "example": "file"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "URL do arquivo",
                                      "required": true,
                                      "example": "https://hospitalexample.com.br/prontuariojaneiro.pdf"
                                    }
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "@layers:payments:Payables:getRelated": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo de cobranças",
                  "required": true,
                  "example": "0001"
                },
                "title": {
                  "type": "string",
                  "description": "Título do grupo de cobranças. Aparecerá como nome do grupo",
                  "required": true,
                  "example": "Marco Aurélio"
                },
                "description": {
                  "type": "string",
                  "description": "Descrição do grupo de cobranças. Aceita cobrança de llinhas",
                  "required": false,
                  "example": "Responsável financeiro"
                },
                "installments": {
                  "type": "number",
                  "description": "Número total de parcelas. Por padrão será igual ao número de payables",
                  "required": false,
                  "example": 12
                },
                "customer": {
                  "type": "object",
                  "description": "Informações de quem irá pagar as cobranças",
                  "required": false,
                  "properties": {
                    "document": {
                      "type": "object",
                      "properties": {
                        "kind": {
                          "type": "string",
                          "enum": [
                            "cpf",
                            "cnpj"
                          ],
                          "description": "Tipo do documento do pagador",
                          "required": true,
                          "example": "cpf"
                        },
                        "value": {
                          "type": "string",
                          "description": "Número do documento",
                          "required": true,
                          "example": "111.111.111-11"
                        }
                      }
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do pagador",
                      "required": true,
                      "example": "Felipe Layers"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "E-mail do pagador",
                      "required": false,
                      "example": "email@layers.education"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Telefone do pagador",
                      "required": false,
                      "example": "(11)99999-9999"
                    },
                    "birth": {
                      "type": "string",
                      "format": "date",
                      "description": "Data de nascimento do pagador",
                      "required": false
                    }
                  }
                },
                "payables": {
                  "type": "array",
                  "description": "Lista de cobranças que fazem parte desse grupo de cobranças",
                  "required": true,
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID interno da cobrança",
                        "required": true,
                        "example": "0002"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador personalizado da cobrança. Será visível na interface",
                        "required": true,
                        "example": "3213"
                      },
                      "installment": {
                        "type": "number",
                        "description": "Número da parcela dessa cobrança",
                        "required": true,
                        "example": 1
                      },
                      "description": {
                        "type": "string",
                        "description": "Descrição da cobrança em markdown",
                        "required": false,
                        "example": "Mensalidade referente ao mês de Janeiro de 2020"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "paid",
                          "partially_paid",
                          "pending",
                          "open",
                          "canceled",
                          "late"
                        ],
                        "description": "Status dessa cobrança",
                        "required": true,
                        "example": "pending"
                      },
                      "dueAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de vencimento da cobrança",
                        "required": true
                      },
                      "paidAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de pagamento da cobrança",
                        "required": false
                      },
                      "sentAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de envio da cobrança",
                        "required": false
                      },
                      "centsPaid": {
                        "type": "number",
                        "format": "integer",
                        "description": "Quantia que foi paga em centavos",
                        "required": true,
                        "exmaple": 0
                      },
                      "centsTotal": {
                        "type": "number",
                        "format": "integer",
                        "description": "Quantia a ser paga em centavos (com multas e taxas, se aplicável)",
                        "required": true,
                        "example": 150000
                      },
                      "centsOriginal": {
                        "type": "number",
                        "format": "integer",
                        "description": "Valor original (sem multas e taxas, se aplicável)",
                        "required": true,
                        "example": 150000
                      },
                      "boleto": {
                        "type": "object",
                        "description": "Arquivo e código do boleto",
                        "required": true,
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "URL de download do boleto",
                            "required": true,
                            "example": "https://boleto.pdf"
                          },
                          "code": {
                            "type": "string",
                            "description": "Linha digitável do boleto, será usada para o usuário copiar o código sem ter que baixar o boleto",
                            "required": true,
                            "example": "12341234123412341234"
                          }
                        }
                      },
                      "attachments": {
                        "type": "array",
                        "description": "Lista de anexos da cobrança",
                        "required": false,
                        "items": {
                          "type": "object",
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "invoice",
                                "file"
                              ],
                              "description": "Tipo do anexo. Pode ser nota fiscal (invoice) ou um arquivo (file)",
                              "required": true,
                              "example": "file"
                            },
                            "title": {
                              "type": "string",
                              "description": "Nome do arquivo",
                              "required": true,
                              "example": "Comprovante de estorno"
                            },
                            "description": {
                              "type": "string",
                              "description": "Descrição do anexo",
                              "required": false,
                              "example": "Estorno realizado em 31/10/2019"
                            },
                            "url": {
                              "type": "string",
                              "description": "Link para baixar o anexo",
                              "required": true,
                              "example": "https://url.para-download.com"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "description": "Generate a token",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "x-layers-permissions": {
          "type": "array"
        },
        "x-layers-contexts": {
          "type": "array"
        }
      }
    }
  },
  "x-nav": [
    {
      "name": "Calendário",
      "tags": [
        "Calendar:getRelated"
      ]
    },
    {
      "name": "Registro Acadêmico",
      "tags": [
        "AcademicRecords:getRelated"
      ]
    },
    {
      "name": "Marcar registro como visto",
      "tags": [
        "AcademicRecords:markRecordsAsViewed"
      ]
    },
    {
      "name": "Notas Acadêmicas",
      "tags": [
        "GradeBooks:getRelated"
      ]
    },
    {
      "name": "Grade Horária",
      "tags": [
        "Timetables:getRelated"
      ]
    },
    {
      "name": "Informações em destaque",
      "tags": [
        "getHomeInfo"
      ]
    },
    {
      "name": "Ficha Médica",
      "tags": [
        "MedicalRecord:getRelated"
      ]
    },
    {
      "name": "Cobranças",
      "tags": [
        "Payables:getRelated"
      ]
    }
  ]
}