{
  "openapi": "3.0.0",
  "info": {
    "title": "Layers Education: Hub de APIs",
    "description": "A documentação completa está disponível na Layers Developer Center em https://developers.layers.education/\n\nO Hub de APIs do Layers permite que apps troquem informações seguindo protocolos de requisição e resposta.\n\nEste arquivo foi atualizado em 17/11/2020.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.provedor-registrado.com/v1"
    }
  ],
  "paths": {
    "/@layers:Calendar:getRelated": {
      "post": {
        "tags": [
          "Calendar:getRelated"
        ],
        "summary": "Prover Calendário",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de calendário por meio da action `@layers:Calendar:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersCalendarGetRelated"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/LayersCalendarGetRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:AcademicRecords:getRelated": {
      "post": {
        "tags": [
          "AcademicRecords:getRelated"
        ],
        "summary": "Prover registros acadêmicos",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersEducationAcademicRecordsGetRelated"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/LayersEducationAcademicRecordsGetRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:Attendance:getRelated": {
      "post": {
        "tags": [
          "Attendance:getRelated"
        ],
        "summary": "Prover Frequência",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de calendário por meio da action `@layers:education:Attendance:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersEducationAttendanceGetRelated"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/LayersEducationAttendanceGetRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:AcademicRecords:markRecordsAsViewed": {
      "post": {
        "tags": [
          "AcademicRecords:markRecordsAsViewed"
        ],
        "summary": "Marcar Registros como vistos",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:markRecordsAsViewed` receberão a requisição no formato abaixo e devem respondê-la com o status HTTP `200` indicando que os registros foram marcados como lidos.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersEducationAcademicRecordsMarkRecordsAsViewed"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/@layers:education:GradeBooks:getRelated": {
      "post": {
        "tags": [
          "GradeBooks:getRelated"
        ],
        "summary": "Prover notas acadêmicas",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de notas acadêmicas por meio da action `@layers:education:GradeBooks:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersEducationGradeBooksGetRelated"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/LayersEducationGradeBooksGetRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:Timetables:getRelated": {
      "post": {
        "tags": [
          "Timetables:getRelated"
        ],
        "summary": "Prover grades horárias",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersEducationTimetablesGetRelated"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/LayersEducationTimetablesGetRelated"
                }
              }
            }
          }
        }
      }
    },
    "/layers:getHomeInfo": {
      "post": {
        "tags": [
          "getHomeInfo"
        ],
        "summary": "Prover informações da home",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersGetHomeInfo"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/LayersGetHomeInfo"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:health:MedicalRecord:getRelated": {
      "post": {
        "tags": [
          "MedicalRecord:getRelated"
        ],
        "summary": "Prover ficha médica",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de ficha horária por meio da action `@layers:health:MedicalRecord:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersHealthMedicalRecordGetRelated"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/LayersHealthMedicalRecordGetRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:payments:Payables:getRelated": {
      "post": {
        "tags": [
          "Payables:getRelated"
        ],
        "summary": "Prover cobranças",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de cobranças por meio da action `@layers:payments:Payables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Context"
                  },
                  {
                    "$ref": "#/components/schemas/LayersPaymentsPayablesGetRelated"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/LayersPaymentsPayablesGetRelated"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Community-id": {
        "name": "community-id",
        "in": "header",
        "description": "Identificador da comunidade",
        "required": true,
        "schema": {
          "type": "string",
          "example": "test"
        }
      },
      "Action": {
        "name": "action",
        "in": "path",
        "description": "Identificador da action",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "@layers:Calendar:getRelated",
            "@layers:education:AcademicRecords:getRelated",
            "@layers:education:AcademicRecords:markRecordsAsViewed",
            "@layers:education:Attendance:getRelated",
            "@layers:education:Timetables:getRelated",
            "@layers:education:GradeBooks:getRelated",
            "@layers:getHomeInfo",
            "@layers:health:MedicalRecord:getRelated",
            "@layers:payments:Payables:getRelated"
          ]
        }
      },
      "Provider": {
        "name": "provider",
        "in": "path",
        "description": "Identificador do app provedor de informações",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Context": {
        "type": "object",
        "required": [
          "context",
          "secret"
        ],
        "properties": {
          "context": {
            "type": "object",
            "required": [
              "issuedAt",
              "action",
              "community"
            ],
            "properties": {
              "issuedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Data e hora de quando a requisição foi feita"
              },
              "action": {
                "type": "string",
                "description": "Identificador da action",
                "example": "@layers:identificador_da_action"
              },
              "community": {
                "type": "string",
                "description": "Identificador da comunidade",
                "example": "test"
              }
            }
          },
          "secret": {
            "type": "string",
            "description": "Chave secreta específica do app"
          }
        }
      },
      "LayersCalendarGetRelated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "Carlos Pereira"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador do usuário na comunidade",
                    "example": "user2"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationAcademicRecordsGetRelated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "João Pedro"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador interno do usuário",
                    "example": "0001"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua preferencial do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              },
              "createdAfter": {
                "type": "string",
                "format": "date",
                "description": "Se não for null a resposta deve conter apenas registros criados depois dessa data"
              }
            }
          }
        }
      },
      "LayersEducationAcademicRecordsMarkRecordsAsViewed": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "user",
              "groupId",
              "recordsIds"
            ],
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "Carlos Pereira"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador do usuário na comunidade",
                    "example": "user2"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              },
              "groupId": {
                "type": "string",
                "description": "Identificador único do grupo de registros",
                "example": "grupo_de_registros_1"
              },
              "recordsIds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Identificadores únicos dos registros individuais",
                  "example": "id_do_registro_A"
                }
              }
            }
          }
        }
      },
      "LayersEducationAttendanceGetRelated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "João Pedro"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador interno do usuário",
                    "example": "0001"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua preferencial do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationGradeBooksGetRelated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "João Pedro"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador interno do usuário",
                    "example": "0001"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua preferencial do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationTimetablesGetRelated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "João Pedro"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador interno do usuário",
                    "example": "0001"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua preferencial do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              }
            }
          }
        }
      },
      "LayersGetHomeInfo": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "João Pedro"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador interno do usuário",
                    "example": "0001"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua preferencial do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              }
            }
          }
        }
      },
      "LayersHealthMedicalRecordGetRelated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "João Pedro"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador interno do usuário",
                    "example": "0001"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua preferencial do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              }
            }
          }
        }
      },
      "LayersPaymentsPayablesGetRelated": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "João Pedro"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador interno do usuário",
                    "example": "0001"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua preferencial do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              }
            }
          }
        }
      }
    },
    "responseBodies": {
      "LayersCalendarGetRelated": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "summary",
                "timezone",
                "language",
                "events"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identificador interno da grade horária",
                  "example": "0001"
                },
                "summary": {
                  "type": "string",
                  "description": "Título do calendário",
                  "example": "Calendário acadêmico"
                },
                "description": {
                  "type": "string",
                  "description": "Descrição do calendário",
                  "example": "Calendário acadêmico geral"
                },
                "timezone": {
                  "type": "string",
                  "description": "Timezone global",
                  "example": "America/Sao_Paulo"
                },
                "events": {
                  "type": "array",
                  "description": "Eventos do calendário",
                  "items": {
                    "type": "object",
                    "required": [
                      "summary",
                      "start",
                      "end"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador interno do evento",
                        "example": "0001"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Nome do evento",
                        "example": "Natal"
                      },
                      "start": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora de início do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário"
                      },
                      "end": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora do final do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário"
                      },
                      "category": {
                        "type": "string",
                        "description": "Categoria do evento",
                        "example": "Eventos"
                      },
                      "color": {
                        "type": "string",
                        "description": "Cor do evento",
                        "example": "orange"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora de criação do evento"
                      }
                    }
                  }
                },
                "categories": {
                  "type": "array",
                  "description": "Categorias associadas aos eventos. São usadas para definir a cor de cada evento. Caso um evento tenha uma categoria não definida nesse objeto sua cor será definida automaticamente",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "color"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome da categoria de eventos. Deve corresponder à categoria atribuída a pelo menos um evento",
                        "example": "Eventos"
                      },
                      "color": {
                        "type": "string",
                        "description": "Cor associada a categoria. Pode ser uma das cores predefinidas (aqua, purple, salmon, yellow-dark, link, lead-light, danger, success) ou uma cor em hexadecimal",
                        "example": "aqua"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationAcademicRecordsGetRelated": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "student",
                "course",
                "records"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo de registros",
                  "example": "RA"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Título do grupo de registros",
                  "example": "Matília Castelli"
                },
                "course": {
                  "type": "string",
                  "description": "Descrição do grupo de registros",
                  "example": "9º Ano - Ensino Fundamental"
                },
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "createdAt",
                      "category",
                      "caption",
                      "description"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID interno do registro no ERP para possível integração de duas vias",
                        "example": "ID_DO_REGISTRO"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data do envio do registro"
                      },
                      "category": {
                        "type": "string",
                        "description": "Categoria do registro. Usaada para filtrar os registros",
                        "example": "Notificado por comparecer sem marterial escolar"
                      },
                      "caption": {
                        "type": "string",
                        "description": "Registro",
                        "example": "Geografia"
                      },
                      "description": {
                        "type": "string",
                        "description": "Descrição do registro em markdown",
                        "example": "Não trouxe o material didático de Geografia"
                      },
                      "viewedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data na qual o registro foi marcado como visto. Se o registro ainda não tiver sido visto o valor será null"
                      },
                      "viewedBy": {
                        "type": "string",
                        "description": "Quem marcou o registro como visto. Se ninguém tiver visualizado o registro ainda o valor será `null`"
                      },
                      "metadata": {
                        "type": "array",
                        "description": "Dados adicionais que podem ser vistos pelo usuário",
                        "items": {
                          "type": "object",
                          "required": [
                            "label",
                            "value"
                          ],
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "Título da informação",
                              "example": "Enviado por"
                            },
                            "value": {
                              "type": "string",
                              "description": "Valor da informação",
                              "example": "Vânia Almeida"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationGradeBooksGetRelated": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "student",
                "course",
                "status",
                "terms"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo do livro de notas",
                  "example": "0001"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Nome do estudante",
                  "example": "Ivan Seidel Gomes"
                },
                "course": {
                  "type": "string",
                  "description": "Nome do curso ou série",
                  "example": "1º Ano - Ensino Fundamental"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "current",
                    "ended"
                  ],
                  "description": "Status desse livro de notas. Pode ser atual (current) ou de um período passado (ended)",
                  "example": "current"
                },
                "terms": {
                  "type": "array",
                  "description": "Lista de livros de notas para cada período do ano letivo",
                  "items": {
                    "type": "object",
                    "required": [
                      "label",
                      "startsAt",
                      "endsAt",
                      "status"
                    ],
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "Título do período letivo",
                        "example": "Primeiro Bimestre"
                      },
                      "startsAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de início do período"
                      },
                      "endsAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de fim do período"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "unknown",
                          "scheduled",
                          "current",
                          "ended"
                        ],
                        "description": "Status do período letivo",
                        "example": "current"
                      },
                      "subjects": {
                        "type": "array",
                        "description": "Lista de notas das disciplinas",
                        "items": {
                          "type": "object",
                          "required": [
                            "label",
                            "activities"
                          ],
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "Título da disciplina",
                              "example": "Português"
                            },
                            "abbr": {
                              "type": "string",
                              "description": "Abreviação da disciplina",
                              "example": "PORT"
                            },
                            "activities": {
                              "type": "array",
                              "description": "Lista de atividades",
                              "items": {
                                "type": "object",
                                "required": [
                                  "label",
                                  "scoreGiven"
                                ],
                                "properties": {
                                  "category": {
                                    "type": "string",
                                    "description": "Categoria da atividade",
                                    "example": "Provas"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "Nome da atividade",
                                    "example": "Prova 1"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descrição da atividade",
                                    "example": "Verbos e substantivos"
                                  },
                                  "date": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Data da atividade"
                                  },
                                  "comment": {
                                    "type": "string",
                                    "description": "Comentário na atividade",
                                    "example": "O aluno deve estudar mais o infinitivo"
                                  },
                                  "scoreGiven": {
                                    "type": "string",
                                    "description": "Nota da atividade",
                                    "example": 6.5
                                  },
                                  "scoreMaximum": {
                                    "type": "string",
                                    "description": "Pontuação máxima na atividade",
                                    "example": 10
                                  },
                                  "scoreMood": {
                                    "type": "string",
                                    "enum": [
                                      "bad",
                                      "neutral",
                                      "good"
                                    ],
                                    "description": "Indica se a nota é boa (nota azul), neutra (opcional) ou ruim (nota vermelha)",
                                    "example": "good"
                                  },
                                  "scoreDate": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Data na qual foi lançada a nota"
                                  }
                                }
                              }
                            },
                            "overall": {
                              "type": "array",
                              "description": "Lista de resultados gerais",
                              "items": {
                                "type": "object",
                                "required": [
                                  "type",
                                  "label",
                                  "scoreGiven",
                                  "scoreMaximum"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "attendance",
                                      "partial_grade",
                                      "final_grade",
                                      "other"
                                    ],
                                    "description": "Tipo do resultado",
                                    "example": "attendance"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "Título do resultado",
                                    "example": "Faltas"
                                  },
                                  "scoreGiven": {
                                    "type": "string",
                                    "description": "Nota que o aluno recebeu neste resultado",
                                    "example": "90%"
                                  },
                                  "scoreMaximum": {
                                    "type": "string",
                                    "description": "Nota máxima nessa atividade",
                                    "example": "100%"
                                  },
                                  "scoreMood": {
                                    "type": "string",
                                    "enum": [
                                      "bad",
                                      "neutral",
                                      "good"
                                    ],
                                    "description": "Indica se a nota é boa (nota azul), neutra (opcional) ou ruim (nota vermelha)",
                                    "example": "good"
                                  },
                                  "featured": {
                                    "type": "boolean",
                                    "description": "Indica se o resultado é o mais importante",
                                    "example": true
                                  }
                                }
                              }
                            },
                            "categories": {
                              "type": "array",
                              "description": "Lista de categorias",
                              "items": {
                                "type": "object",
                                "required": [
                                  "name"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Nome da categoria utilizado nas atividades",
                                    "example": "Provas"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descrição adicional da categoria",
                                    "example": "Provas discussivas e/ou objetivas com intuito de avaliar o aprendizado"
                                  },
                                  "order": {
                                    "type": "number",
                                    "format": "integer",
                                    "description": "Posição na ordenação (aparecerá em ordem crescente)",
                                    "example": 1
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "attachments": {
                  "type": "array",
                  "description": "Lista de anexos desse livro de notas",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "type",
                      "url"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título do anexo",
                        "example": "CalculoDeNotas.pdf"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "file",
                          "link",
                          "image"
                        ],
                        "description": "Tipo do anexo",
                        "example": "file`"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL para fazer download do anexo. Obrigatóriamente uma url HTTPS",
                        "example": "https://calculo.pdf"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationTimetablesGetRelated": {
        "type": "object",
        "required": [
          "results"
        ],
        "properties": {
          "results": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "student",
                "schedules"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno da grade horária",
                  "example": "0001"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Nome do estudante",
                  "example": "Ivan Seidel Gomes"
                },
                "course": {
                  "type": "string",
                  "description": "Nome do curso ou série",
                  "example": "9º Ano"
                },
                "startWeekday": {
                  "type": "string",
                  "enum": [
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday",
                    "sunday"
                  ],
                  "description": "Dia em que começa a semana letiva",
                  "example": "monday"
                },
                "schedules": {
                  "type": "array",
                  "description": "Lista de grades horárias",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "weekDay",
                      "startTime"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título da grade horária (atividade, disciplina, etc)",
                        "example": "Língua Portuguesa e os estudos"
                      },
                      "abbr": {
                        "type": "string",
                        "description": "Abreviação do título",
                        "example": "PORT"
                      },
                      "label": {
                        "type": "string",
                        "description": "Etiqueta do horário",
                        "example": "Extracurricular"
                      },
                      "weekDay": {
                        "type": "string",
                        "enum": [
                          "monday",
                          "tuesday",
                          "wednesday",
                          "thursday",
                          "friday",
                          "saturday",
                          "sunday"
                        ],
                        "description": "Dia da semana em que o horário é vigente",
                        "example": "monday"
                      },
                      "startTime": {
                        "type": "string",
                        "description": "Horário de início no formato (HH:MM:SS)",
                        "example": "15:30:00"
                      },
                      "endTime": {
                        "type": "string",
                        "description": "Horário de fim no formato (HH:MM:SS)",
                        "example": "16:30:00"
                      },
                      "location": {
                        "type": "string",
                        "description": "Localização do horário",
                        "example": "Campus SP, sala 12, bloco B"
                      },
                      "caption": {
                        "type": "string",
                        "description": "Subtítulo do horário",
                        "example": "Prof(a): Ana Maria"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersGetHomeInfo": {
        "type": "object",
        "properties": {
          "badge": {
            "type": "number",
            "description": "O badge indica a se há notificações do seu app a serem vistas. Se for um booleano mostrará o badge quando for `true` e não quando for `false` e se for um número mostrará o badge com a contagem quando o valor for maior que 1",
            "example": 1
          },
          "featured": {
            "type": "object",
            "description": "Informações de destaque",
            "required": [
              "title",
              "cards"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "Título do grupo de cards",
                "example": "1 novo item na agenda"
              },
              "cards": {
                "type": "array",
                "description": "Array de cards que estarão em destaque na home do Layers",
                "minItems": 1,
                "maxItems": 4,
                "items": {
                  "type": "object",
                  "required": [
                    "label",
                    "title",
                    "location"
                  ],
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Descrição curta do card",
                      "maxLength": 26,
                      "example": "Evento"
                    },
                    "title": {
                      "type": "string",
                      "description": "Título do card",
                      "maxLength": 50,
                      "example": "Festa Junina"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição do card",
                      "example": "A festa junina será realizada no dia 12/06/2020. Todos estão convidados!"
                    },
                    "mood": {
                      "type": "string",
                      "enum": [
                        "neutral",
                        "attention",
                        "success",
                        "danger"
                      ],
                      "description": "Indica o tom do card para personalização do estilo",
                      "example": "neutral"
                    },
                    "image": {
                      "type": "string",
                      "description": "URL da imagem que aparece no card. O aspecto ideal é quadrado",
                      "example": "https://imagem.com"
                    },
                    "location": {
                      "type": "string",
                      "description": "Pode ser uma URL absoluta que será aberta no navegador ou uma URI de um recurso do Layers",
                      "example": "/portal/portalAlias/path/a/b/c"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersHealthMedicalRecordGetRelated": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "sections"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do prontuário",
                  "example": "0001"
                },
                "name": {
                  "type": "string",
                  "description": "Nome da pessoa do prontuário",
                  "example": "Lucas Grippa"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data da última atualização do prontuário"
                },
                "sections": {
                  "type": "array",
                  "description": "Seções do prontuário",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "fields"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título da seção do prontuário",
                        "example": "Contato de emergência"
                      },
                      "fields": {
                        "type": "array",
                        "description": "Campos da seção do prontuário",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "type",
                                "title",
                                "number"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "example": "number"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "example": "Peso"
                                },
                                "caption": {
                                  "type": "string",
                                  "description": "Descrição do campo",
                                  "example": "(medido com roupa)"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Valor do campo",
                                  "example": 57.5
                                },
                                "unit": {
                                  "type": "string",
                                  "description": "Unidade do número",
                                  "example": "Kg"
                                },
                                "loinc": {
                                  "type": "string",
                                  "description": "Código LOINC do registro (https://loinc.org/3141-9/)"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "type",
                                "title",
                                "text"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "example": "text"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "example": "Paulo Yoko"
                                },
                                "caption": {
                                  "type": "string",
                                  "description": "Descrição do campo",
                                  "example": "Responsável legal"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Valor do campo",
                                  "example": "+55 11 99331-6662 (cel)"
                                },
                                "loinc": {
                                  "type": "string",
                                  "description": "Código LOINC do registro (https://loinc.org/3141-9/)"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "type",
                                "title",
                                "tags",
                                "mood"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "example": "tags"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "example": "Tipo sanguíneo"
                                },
                                "tags": {
                                  "type": "array",
                                  "description": "Valores das tags.",
                                  "items": {
                                    "type": "string",
                                    "example": "O-"
                                  }
                                },
                                "mood": {
                                  "type": "string",
                                  "enum": [
                                    "neutral",
                                    "good",
                                    "attention",
                                    "bad"
                                  ],
                                  "description": "Característica da informação (neutra, boa, ruim e precisa de atenção)",
                                  "example": "neutral"
                                },
                                "loinc": {
                                  "type": "string",
                                  "description": "Código LOINC do registro (https://loinc.org/3141-9/)"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "type",
                                "title"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "example": "attachment"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "example": "Peso"
                                },
                                "attachment": {
                                  "type": "object",
                                  "required": [
                                    "title",
                                    "type",
                                    "url"
                                  ],
                                  "properties": {
                                    "title": {
                                      "type": "string",
                                      "description": "Título do arquivo",
                                      "example": "raiox.pdf"
                                    },
                                    "type": {
                                      "type": "string",
                                      "enum": [
                                        "file",
                                        "link",
                                        "image"
                                      ],
                                      "description": "Tipo do arquivo",
                                      "example": "file"
                                    },
                                    "url": {
                                      "type": "string",
                                      "description": "URL do arquivo. Obrigatóriamente uma url HTTPS",
                                      "example": "https://hospitalexample.com.br/prontuariojaneiro.pdf"
                                    }
                                  }
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersPaymentsPayablesGetRelated": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "title",
                "payables"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo de cobranças",
                  "example": "0001"
                },
                "title": {
                  "type": "string",
                  "description": "Título do grupo de cobranças. Aparecerá como nome do grupo",
                  "example": "Marco Aurélio"
                },
                "description": {
                  "type": "string",
                  "description": "Descrição do grupo de cobranças. Aceita cobrança de llinhas",
                  "example": "Responsável financeiro"
                },
                "installments": {
                  "type": "number",
                  "description": "Número total de parcelas. Por padrão será igual ao número de payables",
                  "example": 12
                },
                "customer": {
                  "type": "object",
                  "description": "Informações de quem irá pagar as cobranças",
                  "required": [
                    "name"
                  ],
                  "properties": {
                    "document": {
                      "type": "object",
                      "required": [
                        "kind",
                        "value"
                      ],
                      "properties": {
                        "kind": {
                          "type": "string",
                          "enum": [
                            "cpf",
                            "cnpj"
                          ],
                          "description": "Tipo do documento do pagador",
                          "example": "cpf"
                        },
                        "value": {
                          "type": "string",
                          "description": "Número do documento",
                          "example": "111.111.111-11"
                        }
                      }
                    },
                    "name": {
                      "type": "string",
                      "description": "Nome do pagador",
                      "example": "Felipe Layers"
                    },
                    "email": {
                      "type": "string",
                      "format": "email",
                      "description": "E-mail do pagador",
                      "example": "email@layers.education"
                    },
                    "phone": {
                      "type": "string",
                      "description": "Telefone do pagador",
                      "example": "(11)99999-9999"
                    },
                    "birth": {
                      "type": "string",
                      "format": "date",
                      "description": "Data de nascimento do pagador"
                    }
                  }
                },
                "payables": {
                  "type": "array",
                  "description": "Lista de cobranças que fazem parte desse grupo de cobranças",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "alias",
                      "installment",
                      "status",
                      "dueAt",
                      "centsPaid",
                      "centsTotal",
                      "centsOriginal",
                      "boleto"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID interno da cobrança",
                        "example": "0002"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador personalizado da cobrança. Será visível na interface",
                        "example": "3213"
                      },
                      "installment": {
                        "type": "number",
                        "description": "Número da parcela dessa cobrança",
                        "example": 1
                      },
                      "description": {
                        "type": "string",
                        "description": "Descrição da cobrança em markdown",
                        "example": "Mensalidade referente ao mês de Janeiro de 2020"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "paid",
                          "partially_paid",
                          "pending",
                          "open",
                          "canceled",
                          "late"
                        ],
                        "description": "Status dessa cobrança",
                        "example": "pending"
                      },
                      "dueAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de vencimento da cobrança"
                      },
                      "paidAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de pagamento da cobrança"
                      },
                      "sentAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de envio da cobrança"
                      },
                      "centsPaid": {
                        "type": "number",
                        "format": "integer",
                        "description": "Quantia que foi paga em centavos",
                        "example": 0
                      },
                      "centsTotal": {
                        "type": "number",
                        "format": "integer",
                        "description": "Quantia a ser paga em centavos (com multas e taxas, se aplicável)",
                        "example": 150000
                      },
                      "centsOriginal": {
                        "type": "number",
                        "format": "integer",
                        "description": "Valor original (sem multas e taxas, se aplicável)",
                        "example": 150000
                      },
                      "boleto": {
                        "type": "object",
                        "description": "Arquivo e código do boleto",
                        "required": [
                          "link",
                          "code"
                        ],
                        "properties": {
                          "link": {
                            "type": "string",
                            "description": "URL de download do boleto. Obrigatóriamente uma url HTTPS",
                            "example": "https://boleto.pdf"
                          },
                          "code": {
                            "type": "string",
                            "description": "Linha digitável do boleto, será usada para o usuário copiar o código sem ter que baixar o boleto",
                            "example": "12341234123412341234"
                          }
                        }
                      },
                      "attachments": {
                        "type": "array",
                        "description": "Lista de anexos da cobrança",
                        "items": {
                          "type": "object",
                          "required": [
                            "kind",
                            "title",
                            "url"
                          ],
                          "properties": {
                            "kind": {
                              "type": "string",
                              "enum": [
                                "invoice",
                                "file"
                              ],
                              "description": "Tipo do anexo. Pode ser nota fiscal (invoice) ou um arquivo (file)",
                              "example": "file"
                            },
                            "title": {
                              "type": "string",
                              "description": "Nome do arquivo",
                              "example": "Comprovante de estorno"
                            },
                            "description": {
                              "type": "string",
                              "description": "Descrição do anexo",
                              "example": "Estorno realizado em 31/10/2019"
                            },
                            "url": {
                              "type": "string",
                              "description": "Link para baixar o anexo. Obrigatóriamente uma url HTTPS",
                              "example": "https://url.para-download.com"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationAttendanceGetRelated": {
        "type": "object",
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do histórico",
                  "example": "0001"
                },
                "student": {
                  "type": "string",
                  "description": "Nome do aluno",
                  "example": "Marília Castelli"
                },
                "course": {
                  "type": "string",
                  "description": "Curso que o aluno está matriculado",
                  "example": "9º Ano - Ensino Fundamental"
                },
                "overall": {
                  "type": "object",
                  "properties": {
                    "workload": {
                      "type": "number",
                      "description": "Carga de trabalho geral",
                      "minimum": 0,
                      "example": 1600
                    },
                    "workloadUnit": {
                      "type": "string",
                      "description": "Unidade de tempo da carga horária",
                      "enum": [
                        "h",
                        "m"
                      ],
                      "default": "h"
                    },
                    "presencePercentage": {
                      "type": "number",
                      "description": "Porcentagem de frenquência",
                      "minimum": 0,
                      "maximum": 1,
                      "example": 0.95
                    },
                    "absenceTotal": {
                      "type": "number",
                      "format": "integer",
                      "description": "Numero total de faltas",
                      "example": 10
                    },
                    "mood": {
                      "type": "string",
                      "description": "Indica se a frenquência está boa, ruim ou neutra",
                      "enum": [
                        "bad",
                        "attention",
                        "neutral",
                        "good"
                      ]
                    }
                  }
                },
                "subjects": {
                  "type": "array",
                  "description": "Total de frenquência computada por disciplina",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome da disciplina",
                        "example": "Língua Portuguesa"
                      },
                      "overall": {
                        "type": "object",
                        "description": "Visão geral da disciplina",
                        "properties": {
                          "workload": {
                            "type": "number",
                            "format": "integer",
                            "description": "Carga horária total da disciplina",
                            "example": 40
                          },
                          "workloadUnit": {
                            "type": "string",
                            "description": "Unidade de tempo da carga horária",
                            "enum": [
                              "h",
                              "m"
                            ],
                            "default": "h"
                          },
                          "presencePercentage": {
                            "type": "number",
                            "description": "Porcentagem de frenquência",
                            "minimum": 0,
                            "maximum": 1,
                            "example": 0.95
                          },
                          "absenceTotal": {
                            "type": "number",
                            "format": "integer",
                            "description": "Numero total de faltas",
                            "example": 10
                          },
                          "mood": {
                            "type": "string",
                            "description": "Indica se a frenquência está boa, ruim ou neutra",
                            "enum": [
                              "bad",
                              "attention",
                              "neutral",
                              "good"
                            ]
                          }
                        }
                      },
                      "categories": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Nome da categoria",
                              "example": "1º bimestre"
                            },
                            "workload": {
                              "type": "number",
                              "description": "Carga de trabalho geral",
                              "minimum": 0,
                              "example": 1600
                            },
                            "workloadUnit": {
                              "type": "string",
                              "description": "Unidade de tempo da carga horária",
                              "enum": [
                                "h",
                                "m"
                              ],
                              "default": "h"
                            },
                            "presencePercentage": {
                              "type": "number",
                              "description": "Porcentagem de frenquência",
                              "minimum": 0,
                              "maximum": 1,
                              "example": 0.95
                            },
                            "absenceTotal": {
                              "type": "number",
                              "format": "integer",
                              "description": "Numero total de faltas",
                              "example": 10
                            },
                            "mood": {
                              "type": "string",
                              "description": "Indica se a frenquência está boa, ruim ou neutra",
                              "enum": [
                                "bad",
                                "attention",
                                "neutral",
                                "good"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "records": {
                  "type": "array",
                  "description": "Registro de frenquência por data",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "present",
                          "absent",
                          "justified_absency",
                          "excused"
                        ],
                        "description": "Tipo da presença",
                        "example": "present"
                      },
                      "date": {
                        "type": "string",
                        "format": "date",
                        "description": "Data do registro de frenquência"
                      },
                      "subject": {
                        "type": "string",
                        "description": "Disciplina da frenquência",
                        "example": "Língua Portuguesa"
                      },
                      "caption": {
                        "type": "string",
                        "description": "Descrição da frenquência",
                        "example": "09h30 - 10h30"
                      },
                      "category": {
                        "type": "string",
                        "description": "Categoria pela qual o registro de presença vai ser agrupada",
                        "example": "1º bimestre"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "Bearer": {
        "description": "Generate a token",
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "x-nav": [
    {
      "name": "Calendário",
      "tags": [
        "Calendar:getRelated"
      ]
    },
    {
      "name": "Registro Acadêmico",
      "tags": [
        "AcademicRecords:getRelated",
        "AcademicRecords:markRecordsAsViewed"
      ]
    },
    {
      "name": "Frenquência",
      "tags": [
        "Attendance:getRelated"
      ]
    },
    {
      "name": "Notas Acadêmicas",
      "tags": [
        "GradeBooks:getRelated"
      ]
    },
    {
      "name": "Grade Horária",
      "tags": [
        "Timetables:getRelated"
      ]
    },
    {
      "name": "Informações em destaque",
      "tags": [
        "getHomeInfo"
      ]
    },
    {
      "name": "Ficha Médica",
      "tags": [
        "MedicalRecord:getRelated"
      ]
    },
    {
      "name": "Cobranças",
      "tags": [
        "Payables:getRelated"
      ]
    }
  ]
}