{
  "openapi": "3.0.0",
  "info": {
    "title": "Hub de APIs",
    "description": "O Hub de APIs da Layers permite que apps troquem informações seguindo protocolos de requisição e resposta",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.provedor-registrado.com/v1"
    }
  ],
  "paths": {
    "/@layers:Posts:getUpdatedAfter": {
      "post": {
        "tags": [
          "Posts:getUpdatedAfter"
        ],
        "summary": "Prover Publicações",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de eventos por meio da action `@layers:Posts:getUpdatedAfter` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersPostsGetUpdatedAfter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersPostsGetUpdatedAfterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:Events:getUpdatedAfter": {
      "post": {
        "tags": [
          "Events:getUpdatedAfter"
        ],
        "summary": "Prover Eventos",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de eventos por meio da action `@layers:Events:getUpdatedAfter` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersEventsGetUpdatedAfter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersEventsGetUpdatedAfterResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:Documents:getRelated": {
      "post": {
        "tags": [
          "Documents:getRelated"
        ],
        "summary": "Prover Documentos",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de eventos por meio da action `@layers:Documents:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDocumentsGetRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDocumentsGetRelatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:Calendar:getRelated": {
      "post": {
        "tags": [
          "Calendar:getRelated"
        ],
        "summary": "Prover Calendário",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de calendário por meio da action `@layers:Calendar:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersCalendarGetRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersCalendarGetRelatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:AcademicRecords:getRelated": {
      "post": {
        "tags": [
          "AcademicRecords:getRelated"
        ],
        "summary": "Prover registros acadêmicos",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersEducationAcademicRecordsGetRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersEducationAcademicRecordsGetRelatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:Attendance:getRelated": {
      "post": {
        "tags": [
          "Attendance:getRelated"
        ],
        "summary": "Prover Frequência",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de calendário por meio da action `@layers:education:Attendance:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersEducationAttendanceGetRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersEducationAttendanceGetRelatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:AcademicRecords:markRecordsAsViewed": {
      "post": {
        "tags": [
          "AcademicRecords:markRecordsAsViewed"
        ],
        "summary": "Marcar Registros como vistos",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:markRecordsAsViewed` receberão a requisição no formato abaixo e devem respondê-la com o status HTTP `200` indicando que os registros foram marcados como lidos.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersEducationAcademicRecordsMarkRecordsAsViewed"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/@layers:education:GradeBooks:getRelated": {
      "post": {
        "tags": [
          "GradeBooks:getRelated"
        ],
        "summary": "Prover notas acadêmicas",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de notas acadêmicas por meio da action `@layers:education:GradeBooks:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersEducationGradeBooksGetRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersEducationGradeBooksGetRelatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:Timetables:getRelated": {
      "post": {
        "tags": [
          "Timetables:getRelated"
        ],
        "summary": "Prover grades horárias",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersEducationTimetablesGetRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersEducationTimetablesGetRelatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/layers:getHomeInfo": {
      "post": {
        "tags": [
          "getHomeInfo"
        ],
        "summary": "Prover informações da home",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersGetHomeInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersGetHomeInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:health:MedicalRecord:getRelated": {
      "post": {
        "tags": [
          "MedicalRecord:getRelated"
        ],
        "summary": "Prover ficha médica",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de ficha horária por meio da action `@layers:health:MedicalRecord:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersHealthMedicalRecordGetRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersHealthMedicalRecordGetRelatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:payments:Payables:getRelated": {
      "post": {
        "tags": [
          "Payables:getRelated"
        ],
        "summary": "Prover cobranças",
        "description": "O Hub de APIs na Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de cobranças por meio da action `@layers:payments:Payables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersPaymentsPayablesGetRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersPaymentsPayablesGetRelatedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Users:getUpdatedAfter": {
      "post": {
        "tags": [
          "Layers:data:Users"
        ],
        "summary": "Usuários atualizados",
        "description": "Prover os usuários da comunidade de acordo com o período letivo que foram atualizados a partir de uma data específica.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDataEntityGetUpdatedAfter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDataUsersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Members:getUpdatedAfter": {
      "post": {
        "tags": [
          "Layers:data:Members"
        ],
        "summary": "Membros atualizados",
        "description": "Prover os membros da comunidade de acordo com o período letivo que foram atualizados a partir de uma data específica.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDataEntityGetUpdatedAfter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDataMembersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Groups:getUpdatedAfter": {
      "post": {
        "tags": [
          "Layers:data:Groups"
        ],
        "summary": "Grupos atualizados",
        "description": "Prover os grupos da comunidade de acordo com o período letivo que foram atualizados a partir de uma data específica.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDataEntityGetUpdatedAfter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDataGroupsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Components:getUpdatedAfter": {
      "post": {
        "tags": [
          "Layers:data:Components"
        ],
        "summary": "Componentes atualizados",
        "description": "Prover os componentes da comunidade de acordo com o período letivo que foram atualizados a partir de uma data específica.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDataEntityGetUpdatedAfter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDataComponentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Users:getByAliases": {
      "post": {
        "beta": true,
        "summary": "Usuários por identificador",
        "description": "Prover os usuários da comunidade de acordo com o período letivo que possuem os identificadores únicos especificados.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDataEntityGetByAliases"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDataUsersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Members:getByAliases": {
      "post": {
        "beta": true,
        "summary": "Membros por identificador",
        "description": "Prover os membros da comunidade de acordo com o período letivo que possuem os identificadores únicos especificados.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDataEntityGetByAliases"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDataMembersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Groups:getByAliases": {
      "post": {
        "beta": true,
        "summary": "Grupos por identificador",
        "description": "Prover os grupos da comunidade de acordo com o período letivo que possuem os identificadores únicos especificados.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDataEntityGetByAliases"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDataGroupsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Components:getByAliases": {
      "post": {
        "beta": true,
        "summary": "Componentes por identificador",
        "description": "Prover os componentes da comunidade de acordo com o período letivo que possuem os identificadores únicos especificados.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LayersDataEntityGetByAliases"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LayersDataComponentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:data:Check": {
      "post": {
        "tags": [
          "Layers:data"
        ],
        "summary": "Verificar status da integração",
        "description": "Verificar status da integração, deve validar a configuração da integração para a comunidade informada e se é possível autenticar no ERP.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Context"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Community-id": {
        "name": "community-id",
        "in": "header",
        "description": "Identificador da comunidade",
        "required": true,
        "schema": {
          "type": "string",
          "example": "test"
        }
      },
      "Action": {
        "name": "action",
        "in": "path",
        "description": "Identificador da action",
        "required": true,
        "schema": {
          "type": "string",
          "enum": [
            "@layers:Posts:getUpdatedAfter",
            "@layers:Events:getUpdatedAfter",
            "@layers:Calendar:getRelated",
            "@layers:Documents:getRelated",
            "@layers:education:AcademicRecords:getRelated",
            "@layers:education:AcademicRecords:markRecordsAsViewed",
            "@layers:education:Attendance:getRelated",
            "@layers:education:Timetables:getRelated",
            "@layers:education:GradeBooks:getRelated",
            "@layers:getHomeInfo",
            "@layers:health:MedicalRecord:getRelated",
            "@layers:payments:Payables:getRelated",
            "@layers:data:Users:getUpdatedAfter",
            "@layers:data:Members:getUpdatedAfter",
            "@layers:data:Groups:getUpdatedAfter",
            "@layers:data:Components:getUpdatedAfter",
            "@layers:data:Users:getByAliases",
            "@layers:data:Members:getByAliases",
            "@layers:data:Groups:getByAliases",
            "@layers:data:Components:getByAliases"
          ]
        }
      },
      "Provider": {
        "name": "provider",
        "in": "path",
        "description": "Identificador do app provedor de informações",
        "required": true,
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "Context": {
        "type": "object",
        "required": [
          "context",
          "secret"
        ],
        "properties": {
          "context": {
            "type": "object",
            "required": [
              "issuedAt",
              "action",
              "community"
            ],
            "properties": {
              "issuedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Data e hora de quando a requisição foi feita"
              },
              "action": {
                "type": "string",
                "description": "Identificador da action",
                "example": "@layers:identificador_da_action"
              },
              "community": {
                "type": "string",
                "description": "Identificador da comunidade",
                "example": "idcomunidadeteste"
              }
            }
          },
          "secret": {
            "type": "string",
            "description": "Chave secreta específica do app",
            "example": "exemplo1-e000-11xe-2m33-4444444plo"
          }
        }
      },
      "LayersPostsGetUpdatedAfter": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "limit",
                  "after"
                ],
                "properties": {
                  "limit": {
                    "type": "number",
                    "format": "integer",
                    "description": "Quantidade máxima de publicações que devem ser retornadas",
                    "example": 10
                  },
                  "after": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A partir de que data considerar no campo \"updatedAt\""
                  }
                }
              }
            }
          }
        ]
      },
      "LayersEventsGetUpdatedAfter": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "required": [
                  "limit",
                  "after"
                ],
                "properties": {
                  "limit": {
                    "type": "number",
                    "format": "integer",
                    "description": "Quantidade máxima de eventos que devem ser retornados",
                    "example": 10
                  },
                  "after": {
                    "type": "string",
                    "format": "date-time",
                    "description": "A partir de que data considerar no campo \"updatedAt\""
                  }
                }
              }
            }
          }
        ]
      },
      "LayersDocumentsGetRelated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "Carlos Pereira"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador do usuário na comunidade",
                        "example": "user2"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "LayersCalendarGetRelated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "Carlos Pereira"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador do usuário na comunidade",
                        "example": "user2"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "LayersEducationAcademicRecordsGetRelated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário",
                        "example": "61b087e1a608106241d30a8a"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "João Pedro"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador interno do usuário",
                        "example": "0001"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua preferencial do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      }
                    }
                  },
                  "createdAfter": {
                    "type": "string",
                    "format": "date",
                    "description": "Se não for null a resposta deve conter apenas registros criados depois dessa data"
                  }
                }
              }
            }
          }
        ]
      },
      "LayersEducationAcademicRecordsMarkRecordsAsViewed": {
        "type": "object",
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "user",
              "groupId",
              "recordsIds"
            ],
            "properties": {
              "user": {
                "type": "object",
                "required": [
                  "id",
                  "name",
                  "alias",
                  "timezone",
                  "language",
                  "accountId"
                ],
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Identificador do usuário"
                  },
                  "name": {
                    "type": "string",
                    "description": "Nome do usuário",
                    "example": "Carlos Pereira"
                  },
                  "alias": {
                    "type": "string",
                    "description": "Identificador do usuário na comunidade",
                    "example": "user2"
                  },
                  "timezone": {
                    "type": "string",
                    "description": "Fuso horário do usuário",
                    "example": "America/Sao_Paulo"
                  },
                  "language": {
                    "type": "string",
                    "description": "Língua do usuário",
                    "example": "pt/BR"
                  },
                  "accountId": {
                    "type": "string",
                    "description": "Identificador da conta do usuário"
                  }
                }
              },
              "groupId": {
                "type": "string",
                "description": "Identificador único do grupo de registros",
                "example": "grupo_de_registros_1"
              },
              "recordsIds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Identificadores únicos dos registros individuais",
                  "example": "id_do_registro_A"
                }
              }
            }
          }
        }
      },
      "LayersEducationAttendanceGetRelated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "João Pedro"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador interno do usuário",
                        "example": "0001"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua preferencial do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "LayersEducationGradeBooksGetRelated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "João Pedro"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador interno do usuário",
                        "example": "0001"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua preferencial do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "LayersEducationTimetablesGetRelated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "João Pedro"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador interno do usuário",
                        "example": "0001"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua preferencial do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "LayersGetHomeInfo": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "João Pedro"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador interno do usuário",
                        "example": "0001"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua preferencial do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      },
                      "roles": {
                        "type": "array",
                        "description": "Papéis do usuário",
                        "items": {
                          "type": "string"
                        }
                      },
                      "permissions": {
                        "type": "array",
                        "description": "Permissões do usuário",
                        "items": {
                          "type": "string"
                        }
                      },
                      "groupsIds": {
                        "type": "array",
                        "description": "Identificadores dos grupos do usuário",
                        "items": {
                          "type": "string"
                        }
                      },
                      "membersIds": {
                        "type": "array",
                        "description": "Identificadores dos membros do usuário",
                        "items": {
                          "type": "string"
                        }
                      },
                      "adminGroupsIds": {
                        "type": "array",
                        "description": "Identificadores dos grupos do usuário onde ele é administrador",
                        "items": {
                          "type": "string"
                        }
                      },
                      "memberGroupsIds": {
                        "type": "array",
                        "description": "Identificadores dos grupos dos membros do usuário",
                        "items": {
                          "type": "string"
                        }
                      },
                      "groupTags": {
                        "type": "array",
                        "description": "Tags de todos os grupos relacionados ao usuário",
                        "items": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "LayersHealthMedicalRecordGetRelated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "João Pedro"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador interno do usuário",
                        "example": "0001"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua preferencial do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "LayersPaymentsPayablesGetRelated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Context"
          },
          {
            "type": "object",
            "properties": {
              "data": {
                "type": "object",
                "properties": {
                  "user": {
                    "type": "object",
                    "required": [
                      "id",
                      "name",
                      "alias",
                      "timezone",
                      "language",
                      "accountId"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador do usuário"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do usuário",
                        "example": "João Pedro"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador interno do usuário",
                        "example": "0001"
                      },
                      "timezone": {
                        "type": "string",
                        "description": "Fuso horário do usuário",
                        "example": "America/Sao_Paulo"
                      },
                      "language": {
                        "type": "string",
                        "description": "Língua preferencial do usuário",
                        "example": "pt/BR"
                      },
                      "accountId": {
                        "type": "string",
                        "description": "Identificador da conta do usuário"
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "LayersPostsGetUpdatedAfterResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "description": "Publicações do app comunicados",
            "items": {
              "type": "object",
              "required": [
                "title",
                "description",
                "createdAt",
                "updatedAt",
                "targets"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identificador interno da publicação",
                  "example": "0001"
                },
                "title": {
                  "type": "string",
                  "description": "Titulo da publicação",
                  "example": "Comunicado ano letivo 2021"
                },
                "description": {
                  "type": "string",
                  "description": "Descrição/conteúdo da publicação",
                  "example": "O ano letivo já vai começar! A partir da segunda que vem, no dia 01 de fevereiro estaremos aguardando vocês."
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data e hora de criação da publicação"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data e hora da ultima atualização da publicação"
                },
                "category": {
                  "type": "string",
                  "description": "Categorias associadas as publicações. São usadas para definir a cor e as permissões alvo de cada publicação. Caso uma publicação tenha uma categoria que não foi pré definida pela comunidade a publicação não será sincronizada",
                  "example": "Geral"
                },
                "targets": {
                  "type": "object",
                  "description": "Alvos para quem serão enviadas as publicações",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Lista de identificadores únicos de usuários",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "members": {
                      "type": "array",
                      "description": "Lista de identificadores únicos de membros",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "groups": {
                      "type": "array",
                      "description": "Lista de identificadores únicos de grupos",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                },
                "author": {
                  "type": "object",
                  "description": "Autor da publicação",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Nome do autor"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email do autor"
                    },
                    "alias": {
                      "type": "string",
                      "description": "Identificador interno do autor"
                    }
                  }
                },
                "attachments": {
                  "type": "array",
                  "description": "Lista de anexos da publicação",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "type",
                      "url"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título do anexo",
                        "example": "CalculoDeNotas.pdf"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "file",
                          "link",
                          "image"
                        ],
                        "description": "Tipo do anexo",
                        "example": "file`"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL para fazer download do anexo. Obrigatoriamente uma url HTTPS",
                        "example": "https://calculo.pdf"
                      }
                    }
                  }
                },
                "approved": {
                  "type": "boolean",
                  "description": "Indica se o comunicado deve ser publicado diretamente ou deve passar por aprovação de um administrador da comunidade",
                  "example": true
                }
              }
            }
          }
        }
      },
      "LayersEventsGetUpdatedAfterResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "description": "Eventos da agenda",
            "items": {
              "type": "object",
              "required": [
                "title",
                "createdAt",
                "updatedAt",
                "targets",
                "start",
                "end"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identificador interno do evento",
                  "example": "0001"
                },
                "title": {
                  "type": "string",
                  "description": "Nome do evento",
                  "example": "Prova 1"
                },
                "description": {
                  "type": "string",
                  "description": "Descrição do evento",
                  "example": "A prova deve ser realizada presencialmente"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data e hora de criação do evento"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data e hora da ultima atualização do evento"
                },
                "category": {
                  "type": "string",
                  "description": "Categorias associadas aos eventos. São usadas para definir a cor e as permissões alvo de cada evento. Caso um evento tenha uma categoria que não foi pré definida pela comunidade o evento não será sincronizado",
                  "example": "Geral"
                },
                "targets": {
                  "type": "object",
                  "description": "Alvos para quem serão publicados o evento",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Lista de identificadores únicos de usuários",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "members": {
                      "type": "array",
                      "description": "Lista de identificadores únicos de membros",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    },
                    "groups": {
                      "type": "array",
                      "description": "Lista de identificadores únicos de grupos",
                      "items": {
                        "type": "string",
                        "nullable": true
                      }
                    }
                  }
                },
                "author": {
                  "type": "object",
                  "description": "Autor do evento",
                  "properties": {
                    "name": {
                      "type": "string",
                      "description": "Nome do autor"
                    },
                    "email": {
                      "type": "string",
                      "description": "Email do autor"
                    },
                    "alias": {
                      "type": "string",
                      "description": "Identificador interno do autor"
                    }
                  }
                },
                "attachments": {
                  "type": "array",
                  "description": "Lista de anexos do evento",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "type",
                      "url"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título do anexo",
                        "example": "CalculoDeNotas.pdf"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "file",
                          "link",
                          "image"
                        ],
                        "description": "Tipo do anexo",
                        "example": "file`"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL para fazer download do anexo. Obrigatoriamente uma url HTTPS",
                        "example": "https://calculo.pdf"
                      }
                    }
                  }
                },
                "start": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data e hora do inicio do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário"
                },
                "end": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data e hora do final do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário"
                },
                "location": {
                  "type": "string",
                  "description": "Localização do evento"
                },
                "conference": {
                  "type": "object",
                  "description": "Link para videoconferência",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "URL para videoconferência. Obrigatoriamente uma url HTTPS",
                      "example": "https://meet.google.com/ABCD"
                    },
                    "type": {
                      "type": "string",
                      "enum": [
                        "googleMeet",
                        "googleHangout",
                        "zoom",
                        "unknown"
                      ],
                      "description": "Plataforma utilizada para videoconferência. Utilizar unknown caso não seja nenhuma das suportadas"
                    }
                  }
                },
                "approved": {
                  "type": "boolean",
                  "description": "Indica se o evento deve ser publicado diretamente ou deve passar por aprovação de um administrador da comunidade",
                  "example": true
                }
              }
            }
          }
        }
      },
      "LayersCalendarGetRelatedResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "id",
                "summary",
                "timezone",
                "language",
                "events"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identificador interno da grade horária",
                  "example": "0001"
                },
                "summary": {
                  "type": "string",
                  "description": "Título do calendário",
                  "example": "Calendário acadêmico"
                },
                "description": {
                  "type": "string",
                  "description": "Descrição do calendário",
                  "example": "Calendário acadêmico geral"
                },
                "timezone": {
                  "type": "string",
                  "description": "Timezone global",
                  "example": "America/Sao_Paulo"
                },
                "events": {
                  "type": "array",
                  "description": "Eventos do calendário",
                  "items": {
                    "type": "object",
                    "required": [
                      "summary",
                      "start",
                      "end"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "Identificador interno do evento",
                        "example": "0001"
                      },
                      "summary": {
                        "type": "string",
                        "description": "Nome do evento",
                        "example": "Natal"
                      },
                      "start": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora de início do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário"
                      },
                      "end": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora do final do evento. Para mostrar que o evento vai durar o dia todo passe apenas a data sem horário"
                      },
                      "category": {
                        "type": "string",
                        "description": "Categoria do evento",
                        "example": "Eventos"
                      },
                      "color": {
                        "type": "string",
                        "description": "Cor do evento",
                        "example": "orange"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data e hora de criação do evento"
                      }
                    }
                  }
                },
                "categories": {
                  "type": "array",
                  "description": "Categorias associadas aos eventos. São usadas para definir a cor de cada evento. Caso um evento tenha uma categoria não definida nesse objeto sua cor será definida automaticamente",
                  "items": {
                    "type": "object",
                    "required": [
                      "name",
                      "color"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Nome da categoria de eventos. Deve corresponder à categoria atribuída a pelo menos um evento",
                        "example": "Eventos"
                      },
                      "color": {
                        "type": "string",
                        "description": "Cor associada a categoria. Pode ser uma das cores predefinidas (aqua, purple, salmon, yellow-dark, link, lead-light, danger, success) ou uma cor em hexadecimal",
                        "example": "aqua"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationAcademicRecordsGetRelatedResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "student",
                "course",
                "records"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo de registros",
                  "example": "RA"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Título do grupo de registros",
                  "example": "Matília Castelli"
                },
                "course": {
                  "type": "string",
                  "description": "Descrição do grupo de registros",
                  "example": "9º Ano - Ensino Fundamental"
                },
                "records": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "createdAt",
                      "category",
                      "caption",
                      "description"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID interno do registro no ERP para possível integração de duas vias",
                        "example": "ID_DO_REGISTRO"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data do envio do registro"
                      },
                      "category": {
                        "type": "string",
                        "description": "Categoria do registro. Usaada para filtrar os registros",
                        "example": "Notificado por comparecer sem marterial escolar"
                      },
                      "caption": {
                        "type": "string",
                        "description": "Registro",
                        "example": "Geografia"
                      },
                      "description": {
                        "type": "string",
                        "description": "Descrição do registro em markdown",
                        "example": "Não trouxe o material didático de Geografia"
                      },
                      "viewedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data na qual o registro foi marcado como visto. Se o registro ainda não tiver sido visto o valor será null"
                      },
                      "viewedBy": {
                        "type": "string",
                        "description": "Quem marcou o registro como visto. Se ninguém tiver visualizado o registro ainda o valor será `null`"
                      },
                      "metadata": {
                        "type": "array",
                        "description": "Dados adicionais que podem ser vistos pelo usuário",
                        "items": {
                          "type": "object",
                          "required": [
                            "label",
                            "value"
                          ],
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "Título da informação",
                              "example": "Enviado por"
                            },
                            "value": {
                              "type": "string",
                              "description": "Valor da informação",
                              "example": "Vânia Almeida"
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersDocumentsGetRelatedResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "title",
                "attachments"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo do livro de notas",
                  "example": "0001"
                },
                "title": {
                  "type": "string",
                  "description": "Titulo do grupo de documentos",
                  "example": "Nome do aluno"
                },
                "attachments": {
                  "type": "array",
                  "description": "Lista de documentos/anexos",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "type",
                      "url"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título do anexo",
                        "example": "CalculoDeNotas.pdf"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "file",
                          "link",
                          "image"
                        ],
                        "description": "Tipo do anexo",
                        "example": "file`"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL para fazer download do anexo. Obrigatoriamente uma url HTTPS",
                        "example": "https://calculo.pdf"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationGradeBooksGetRelatedResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "student",
                "course",
                "status",
                "terms"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do grupo do livro de notas",
                  "example": "0001"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Nome do estudante",
                  "example": "Ivan Seidel Gomes"
                },
                "course": {
                  "type": "string",
                  "description": "Nome do curso ou série",
                  "example": "1º Ano - Ensino Fundamental"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "current",
                    "ended"
                  ],
                  "description": "Status desse livro de notas. Pode ser atual (current) ou de um período passado (ended)",
                  "example": "current"
                },
                "terms": {
                  "type": "array",
                  "description": "Lista de livros de notas para cada período do ano letivo",
                  "items": {
                    "type": "object",
                    "required": [
                      "label",
                      "startsAt",
                      "endsAt",
                      "status"
                    ],
                    "properties": {
                      "label": {
                        "type": "string",
                        "description": "Título do período letivo",
                        "example": "Primeiro Bimestre"
                      },
                      "startsAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de início do período"
                      },
                      "endsAt": {
                        "type": "string",
                        "format": "date",
                        "description": "Data de fim do período"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "unknown",
                          "scheduled",
                          "current",
                          "ended"
                        ],
                        "description": "Status do período letivo",
                        "example": "current"
                      },
                      "subjects": {
                        "type": "array",
                        "description": "Lista de notas das disciplinas",
                        "items": {
                          "type": "object",
                          "required": [
                            "label",
                            "activities"
                          ],
                          "properties": {
                            "label": {
                              "type": "string",
                              "description": "Título da disciplina",
                              "example": "Português"
                            },
                            "abbr": {
                              "type": "string",
                              "description": "Abreviação da disciplina",
                              "example": "PORT"
                            },
                            "activities": {
                              "type": "array",
                              "description": "Lista de atividades",
                              "items": {
                                "type": "object",
                                "required": [
                                  "label",
                                  "scoreGiven"
                                ],
                                "properties": {
                                  "category": {
                                    "type": "string",
                                    "description": "Categoria da atividade",
                                    "example": "Provas"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "Nome da atividade",
                                    "example": "Prova 1"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descrição da atividade",
                                    "example": "Verbos e substantivos"
                                  },
                                  "date": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Data da atividade"
                                  },
                                  "comment": {
                                    "type": "string",
                                    "description": "Comentário na atividade",
                                    "example": "O aluno deve estudar mais o infinitivo"
                                  },
                                  "scoreGiven": {
                                    "type": "string",
                                    "description": "Nota da atividade",
                                    "example": 6.5
                                  },
                                  "scoreMaximum": {
                                    "type": "string",
                                    "description": "Pontuação máxima na atividade",
                                    "example": 10
                                  },
                                  "scoreMood": {
                                    "type": "string",
                                    "enum": [
                                      "bad",
                                      "neutral",
                                      "good"
                                    ],
                                    "description": "Indica se a nota é boa (nota azul), neutra (opcional) ou ruim (nota vermelha)",
                                    "example": "good"
                                  },
                                  "scoreDate": {
                                    "type": "string",
                                    "format": "date",
                                    "description": "Data na qual foi lançada a nota"
                                  }
                                }
                              }
                            },
                            "overall": {
                              "type": "array",
                              "description": "Lista de resultados gerais",
                              "items": {
                                "type": "object",
                                "required": [
                                  "type",
                                  "label",
                                  "scoreGiven",
                                  "scoreMaximum"
                                ],
                                "properties": {
                                  "type": {
                                    "type": "string",
                                    "enum": [
                                      "attendance",
                                      "partial_grade",
                                      "final_grade",
                                      "other"
                                    ],
                                    "description": "Tipo do resultado",
                                    "example": "attendance"
                                  },
                                  "label": {
                                    "type": "string",
                                    "description": "Título do resultado",
                                    "example": "Faltas"
                                  },
                                  "scoreGiven": {
                                    "type": "string",
                                    "description": "Nota que o aluno recebeu neste resultado",
                                    "example": "90%"
                                  },
                                  "scoreMaximum": {
                                    "type": "string",
                                    "description": "Nota máxima nessa atividade",
                                    "example": "100%"
                                  },
                                  "scoreMood": {
                                    "type": "string",
                                    "enum": [
                                      "bad",
                                      "neutral",
                                      "good"
                                    ],
                                    "description": "Indica se a nota é boa (nota azul), neutra (opcional) ou ruim (nota vermelha)",
                                    "example": "good"
                                  },
                                  "featured": {
                                    "type": "boolean",
                                    "description": "Indica se o resultado é o mais importante",
                                    "example": true
                                  }
                                }
                              }
                            },
                            "categories": {
                              "type": "array",
                              "description": "Lista de categorias",
                              "items": {
                                "type": "object",
                                "required": [
                                  "name"
                                ],
                                "properties": {
                                  "name": {
                                    "type": "string",
                                    "description": "Nome da categoria utilizado nas atividades",
                                    "example": "Provas"
                                  },
                                  "description": {
                                    "type": "string",
                                    "description": "Descrição adicional da categoria",
                                    "example": "Provas discussivas e/ou objetivas com intuito de avaliar o aprendizado"
                                  },
                                  "order": {
                                    "type": "number",
                                    "format": "integer",
                                    "description": "Posição na ordenação (aparecerá em ordem crescente)",
                                    "example": 1
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "attachments": {
                  "type": "array",
                  "description": "Lista de anexos desse livro de notas",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "type",
                      "url"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título do anexo",
                        "example": "CalculoDeNotas.pdf"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "file",
                          "link",
                          "image"
                        ],
                        "description": "Tipo do anexo",
                        "example": "file`"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL para fazer download do anexo. Obrigatoriamente uma url HTTPS",
                        "example": "https://calculo.pdf"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersEducationTimetablesGetRelatedResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "student",
                "schedules"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno da grade horária",
                  "example": "0001"
                },
                "season": {
                  "type": "string",
                  "description": "Período letivo",
                  "example": "2019"
                },
                "student": {
                  "type": "string",
                  "description": "Nome do estudante",
                  "example": "Ivan Seidel Gomes"
                },
                "course": {
                  "type": "string",
                  "description": "Nome do curso ou série",
                  "example": "9º Ano"
                },
                "startWeekday": {
                  "type": "string",
                  "enum": [
                    "monday",
                    "tuesday",
                    "wednesday",
                    "thursday",
                    "friday",
                    "saturday",
                    "sunday"
                  ],
                  "description": "Dia em que começa a semana letiva",
                  "example": "monday"
                },
                "schedules": {
                  "type": "array",
                  "description": "Lista de grades horárias",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "weekday",
                      "startTime"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título da grade horária (atividade, disciplina, etc)",
                        "example": "Língua Portuguesa e os estudos"
                      },
                      "abbr": {
                        "type": "string",
                        "description": "Abreviação do título",
                        "example": "PORT"
                      },
                      "label": {
                        "type": "string",
                        "description": "Etiqueta do horário",
                        "example": "Extracurricular"
                      },
                      "weekday": {
                        "type": "string",
                        "enum": [
                          "monday",
                          "tuesday",
                          "wednesday",
                          "thursday",
                          "friday",
                          "saturday",
                          "sunday"
                        ],
                        "description": "Dia da semana em que o horário é vigente",
                        "example": "monday"
                      },
                      "startTime": {
                        "type": "string",
                        "description": "Horário de início no formato (HH:MM:SS)",
                        "example": "15:30:00"
                      },
                      "endTime": {
                        "type": "string",
                        "description": "Horário de fim no formato (HH:MM:SS)",
                        "example": "16:30:00"
                      },
                      "location": {
                        "type": "string",
                        "description": "Localização do horário",
                        "example": "Campus SP, sala 12, bloco B"
                      },
                      "caption": {
                        "type": "string",
                        "description": "Subtítulo do horário",
                        "example": "Prof(a): Ana Maria"
                      }
                    }
                  }
                },
                "attachments": {
                  "type": "array",
                  "description": "Arquivo com quadro horário",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "type",
                      "url"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título do anexo",
                        "example": "Horarios.pdf"
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "file",
                          "link",
                          "image"
                        ],
                        "description": "Tipo do anexo",
                        "example": "file`"
                      },
                      "url": {
                        "type": "string",
                        "description": "URL para fazer download do anexo. Obrigatoriamente uma url HTTPS",
                        "example": "https://Horarios.pdf"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersGetHomeInfoResponse": {
        "type": "object",
        "properties": {
          "badge": {
            "type": "number",
            "description": "O badge indica a se há notificações do seu app a serem vistas. Se for um booleano mostrará o badge quando for `true` e não quando for `false` e se for um número mostrará o badge com a contagem quando o valor for maior que 1",
            "example": 1
          },
          "featured": {
            "type": "object",
            "description": "Informações de destaque",
            "required": [
              "title",
              "cards"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "Título do grupo de cards",
                "example": "1 novo item na agenda"
              },
              "cards": {
                "type": "array",
                "description": "Array de cards que estarão em destaque na home da Layers",
                "minItems": 1,
                "maxItems": 4,
                "items": {
                  "type": "object",
                  "required": [
                    "label",
                    "title",
                    "location"
                  ],
                  "properties": {
                    "label": {
                      "type": "string",
                      "description": "Descrição curta do card",
                      "maxLength": 26,
                      "example": "Evento"
                    },
                    "title": {
                      "type": "string",
                      "description": "Título do card",
                      "maxLength": 50,
                      "example": "Festa Junina"
                    },
                    "description": {
                      "type": "string",
                      "description": "Descrição do card",
                      "example": "A festa junina será realizada no dia 12/06/2020. Todos estão convidados!"
                    },
                    "mood": {
                      "type": "string",
                      "enum": [
                        "neutral",
                        "attention",
                        "success",
                        "danger"
                      ],
                      "description": "Indica o tom do card para personalização do estilo",
                      "example": "neutral"
                    },
                    "image": {
                      "type": "string",
                      "description": "URL da imagem que aparece no card. O aspecto ideal é quadrado",
                      "example": "https://imagem.com"
                    },
                    "location": {
                      "type": "string",
                      "description": "Pode ser uma URL absoluta que será aberta no navegador ou uma URI de um recurso da Layers",
                      "example": "/portal/portalAlias/path/a/b/c"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "LayersHealthMedicalRecordGetRelatedResponse": {
        "type": "object",
        "required": [
          "result"
        ],
        "properties": {
          "result": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "name",
                "sections"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "ID interno do prontuário",
                  "example": "0001"
                },
                "name": {
                  "type": "string",
                  "description": "Nome da pessoa do prontuário",
                  "example": "Lucas Grippa"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data da última atualização do prontuário"
                },
                "sections": {
                  "type": "array",
                  "description": "Seções do prontuário",
                  "items": {
                    "type": "object",
                    "required": [
                      "title",
                      "fields"
                    ],
                    "properties": {
                      "title": {
                        "type": "string",
                        "description": "Título da seção do prontuário",
                        "example": "Contato de emergência"
                      },
                      "fields": {
                        "type": "array",
                        "description": "Campos da seção do prontuário",
                        "items": {
                          "oneOf": [
                            {
                              "type": "object",
                              "required": [
                                "type",
                                "title",
                                "number"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "example": "number"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "example": "Peso"
                                },
                                "caption": {
                                  "type": "string",
                                  "description": "Descrição do campo",
                                  "example": "(medido com roupa)"
                                },
                                "number": {
                                  "type": "string",
                                  "description": "Valor do campo",
                                  "example": 57.5
                                },
                                "unit": {
                                  "type": "string",
                                  "description": "Unidade do número",
                                  "example": "Kg"
                                },
                                "loinc": {
                                  "type": "string",
                                  "description": "Código LOINC do registro (https://loinc.org/3141-9/)"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "type",
                                "title",
                                "text"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "example": "text"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "example": "Paulo Yoko"
                                },
                                "caption": {
                                  "type": "string",
                                  "description": "Descrição do campo",
                                  "example": "Responsável legal"
                                },
                                "text": {
                                  "type": "string",
                                  "description": "Valor do campo",
                                  "example": "+55 11 99331-6662 (cel)"
                                },
                                "loinc": {
                                  "type": "string",
                                  "description": "Código LOINC do registro (https://loinc.org/3141-9/)"
                                }
                              }
                            },
                            {
                              "type": "object",
                              "required": [
                                "type",
                                "title",
                                "tags",
                                "mood"
                              ],
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "Tipo do campo",
                                  "example": "tags"
                                },
                                "title": {
                                  "type": "string",
                                  "description": "Nome do campo",
                                  "example": "Tipo sanguíneo"
                                },
[...]
