{
  "openapi": "3.0.0",
  "info": {
    "title": "API de Dados",
    "description": "A API de dados permite que você administre usuários, membros, grupos, matrículas e seus vínculos",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.layers.digital/v1"
    }
  ],
  "paths": {
    "/community/permissions": {
      "get": {
        "tags": [
          "Comunidade"
        ],
        "summary": "Listar permissões",
        "description": "Listar permissões da comunidade",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Objeto contento todas as permissões na comunidade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "permission_name": {
                      "type": "object",
                      "properties": {
                        "group": {
                          "type": "string",
                          "description": "Grupo da permissão",
                          "example": "Agenda - Agenda"
                        },
                        "includes": {
                          "type": "array",
                          "description": "Lista de outras permissões contidas nessa permissão",
                          "items": {
                            "type": "string",
                            "example": "@admin:agenda:events:autoapprove"
                          }
                        },
                        "title": {
                          "type": "string",
                          "description": "Descrição que aparece na interface",
                          "example": "Aprovar conteúdos da agenda"
                        },
                        "value": {
                          "type": "string",
                          "description": "Identificador da permissão (igual à chave que contém esse objeto)",
                          "example": "@admin:agenda:events:approve"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/components": {
      "get": {
        "tags": [
          "Componentes"
        ],
        "summary": "Listar componentes",
        "description": "Listar componentes registrados na Layers",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:read",
          "group:read:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Número e lista de componentes encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "format": "integer",
                      "description": "Número de componentes encontrados"
                    },
                    "hits": {
                      "type": "array",
                      "description": "Array contendo os componentes encontrados",
                      "items": {
                        "$ref": "#/components/schemas/Component"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/enrollments/{enrollmentId}": {
      "put": {
        "tags": [
          "Matrículas"
        ],
        "summary": "Atualizar matricula",
        "description": "Atualizar matrícula especificada",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathEnrollmentId"
          },
          {
            "name": "group",
            "in": "query",
            "description": "Identificador do grupo",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write",
          "group:write:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Enrollment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matrículas atualizada",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Matrículas"
        ],
        "summary": "Ver matricula",
        "description": "Ver matrícula especificada",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathEnrollmentId"
          },
          {
            "name": "group",
            "in": "query",
            "description": "Identificador do grupo",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write",
          "group:write:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Matrículas que correspondem ao filtro da query",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Enrollment"
                }
              }
            }
          }
        }
      }
    },
    "/enrollments": {
      "get": {
        "tags": [
          "Matrículas"
        ],
        "summary": "Listar matriculas",
        "description": "Listar matrículas no grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/Active"
          },
          {
            "name": "group",
            "in": "query",
            "description": "Identificador do grupo",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write",
          "group:write:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Matrículas que correspondem ao filtro da query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Enrollment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/enrollments/search": {
      "get": {
        "tags": [
          "Matrículas"
        ],
        "summary": "Buscar matriculas",
        "description": "Buscar matrículas no grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/Active"
          },
          {
            "name": "group",
            "in": "query",
            "description": "Identificador do grupo",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write",
          "group:write:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Matrículas que correspondem ao filtro da query",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "Número de matrículas encontradas",
                      "example": 1
                    },
                    "hits": {
                      "type": "array",
                      "description": "Matrículas encontradas",
                      "items": {
                        "$ref": "#/components/schemas/Enrollment"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/group": {
      "post": {
        "tags": [
          "Grupos"
        ],
        "summary": "Criar Grupo",
        "description": "Criar um novo grupo na Layers Education.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grupo criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/admins/{userId}": {
      "delete": {
        "tags": [
          "Grupos"
        ],
        "summary": "Remover administradores",
        "description": "Remover usuário especificado da lista de administradores do grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          },
          {
            "$ref": "#/components/parameters/PathUserId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Administrador removido com sucesso."
          }
        }
      }
    },
    "/groups/{groupId}/admins": {
      "get": {
        "tags": [
          "Grupos"
        ],
        "summary": "Listar administradores",
        "description": "Listar administradores do grupo específicado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:read",
          "group:read:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "ObjectId",
                        "description": "Identificador do usuário administrador da turma"
                      },
                      "user": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Grupos"
        ],
        "summary": "Editar administradores",
        "description": "Adicionar administradores ao grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "ObjectId",
                      "description": "Identificador do usuário que deve ser adicionado como administrador ao grupo"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de administradores do grupo",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/User"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}": {
      "delete": {
        "tags": [
          "Grupos"
        ],
        "summary": "Deletar grupo",
        "description": "Remover um grupo da Layers. Essa ação **pode** ser revertida por meio da rota de atualizar grupo mudando o valor da chave `active` de `false` para `true`",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Grupo removido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Grupos"
        ],
        "summary": "Editar Grupo",
        "description": "Editar informações do grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Group"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Grupo atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Grupos"
        ],
        "summary": "Visualizar Grupo",
        "description": "Visualizar informações do grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:read"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Grupo específicado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Group"
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/enrollments": {
      "post": {
        "tags": [
          "Matrículas"
        ],
        "summary": "Criar matricula",
        "description": "Criar uma matrícula no grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write",
          "group:write:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "enrollments": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Enrollment"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Matrículas da turma atualizadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Enrollment"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Matrículas"
        ],
        "summary": "Listar matriculas",
        "description": "Listar matriculas do grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:read",
          "group:read:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "ObjectId",
                        "description": "Identificador do documento da matrícula",
                        "readOnly": true
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "Data de criação da matrícula em UTC corrigido para o fuso da comunidade",
                        "example": "2020-01-01T00:00:00.000Z",
                        "readOnly": true
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "Data da última modificação da matrícula em UTC corrido para o fuso da comunidade",
                        "example": "2020-01-01T00:00:00.000Z",
                        "readOnly": true
                      },
                      "community": {
                        "type": "string",
                        "description": "Identificador da comunidade da matrícula",
                        "example": "test",
                        "readOnly": true
                      },
                      "kind": {
                        "type": "string",
                        "description": "Tipo de entidade que está vinculada ao grupo",
                        "example": "member"
                      },
                      "entity": {
                        "$ref": "#/components/schemas/Member"
                      },
                      "group": {
                        "type": "string",
                        "format": "ObjectId",
                        "description": "Identificador do grupo à qual a entidade está matriculada",
                        "readOnly": true
                      },
                      "active": {
                        "type": "boolean",
                        "description": "Chave que indica se essa matrícula está ativa (é mudada para false quando a entidade é removida do grupo)",
                        "example": true
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups/{groupId}/enrollments/{enrollmentId}": {
      "delete": {
        "tags": [
          "Matrículas"
        ],
        "summary": "Remover matricula",
        "description": "Remover uma matrícula no grupo especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathGroupId"
          },
          {
            "$ref": "#/components/parameters/PathEnrollmentId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:write",
          "group:write:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Matrículas da turma atualizadas",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Enrollment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups": {
      "get": {
        "tags": [
          "Grupos"
        ],
        "summary": "Listar grupos",
        "description": "Listar grupos existentes na Layers",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:read",
          "group:read:scoped"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "$ref": "#/components/parameters/Active"
          },
          {
            "$ref": "#/components/parameters/Name"
          },
          {
            "$ref": "#/components/parameters/GroupAdmin"
          },
          {
            "$ref": "#/components/parameters/Season"
          }
        ],
        "responses": {
          "200": {
            "description": "Grupos que atendem às restrições ordenados por data de criação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Group"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/groups/search": {
      "get": {
        "tags": [
          "Grupos"
        ],
        "summary": "Buscar grupos",
        "description": "Buscar grupos usando texto livre no parametro q e outros parâmetros de filtro.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "$ref": "#/components/parameters/Active"
          },
          {
            "$ref": "#/components/parameters/Name"
          },
          {
            "$ref": "#/components/parameters/GroupAdmin"
          },
          {
            "$ref": "#/components/parameters/Season"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Texto de busca. Pode ser o nome ou identificador do grupos.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "group:read"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Número e lista de grupos encontrados",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "format": "integer",
                      "description": "Número de resultados encontrados"
                    },
                    "hits": {
                      "type": "array",
                      "description": "Array contendo os resultados da busca ordenados pelos que mais se encaixam nos termos da busca",
                      "items": {
                        "$ref": "#/components/schemas/Group"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members": {
      "post": {
        "tags": [
          "Membros"
        ],
        "summary": "Criar Membro",
        "description": "Criar um novo membro na Layers Education.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Member"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Aluno criado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Listar Membros",
        "description": "Listar membros existentes.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:read"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "$ref": "#/components/parameters/UpdatedAt"
          },
          {
            "$ref": "#/components/parameters/QueryId"
          },
          {
            "$ref": "#/components/parameters/Active"
          },
          {
            "$ref": "#/components/parameters/Alias"
          },
          {
            "$ref": "#/components/parameters/Name"
          }
        ],
        "responses": {
          "200": {
            "description": "Membros ordenados por data de criação",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Member"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{memberId}/activate": {
      "post": {
        "tags": [
          "Membros"
        ],
        "summary": "Ativar membro especificado",
        "description": "Ativar ou reativar membro específicado na Layers.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathMemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "Membro ativado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        }
      }
    },
    "/members/{memberId}": {
      "delete": {
        "tags": [
          "Membros"
        ],
        "summary": "Deletar membro especificado",
        "description": "Remover o membro específicado da Layers. Esse processo **pode** ser revertido por meio da rota de editar membro altetando a chave `active` de `false` para `true`.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:write"
        ],
        "x-layers-context": [
          "user",
          "member"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathMemberId"
          }
        ],
        "responses": {
          "200": {
            "description": "Membro removido",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Membros"
        ],
        "summary": "Atualizar Membro",
        "description": "Atualizar informações do membro especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathMemberId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Member"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Membro atualizado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Visualizar membro",
        "description": "Visualizar informações do membro especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathMemberId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:read"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Informações do membro especificado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        }
      }
    },
    "/members/{memberId}/users/{userId}": {
      "post": {
        "tags": [
          "Membros"
        ],
        "summary": "Remover vínculo entre usuário e membro",
        "description": "Remover vínculo entre o usuário e o membro especificado",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathMemberId"
          },
          {
            "$ref": "#/components/parameters/PathUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de usuários que estão vinculados ao membro",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "ObjectId",
                    "description": "Id do usuário vinculado"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/{memberId}/users": {
      "put": {
        "tags": [
          "Membros"
        ],
        "summary": "Vincular usuário a um membro",
        "description": "Vincular usuário ao membro especificado",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathMemberId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "array",
                    "description": "Array contendo os identificadores de documento dos usuários que serão vinculados com o membro",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "12345678"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Usuários relacionados com o membro",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "permissions": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "user": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "Email do usuário",
                            "example": "exemplo@tenda.digital"
                          },
                          "name": {
                            "type": "string",
                            "description": "Nome do usuário",
                            "example": "Gabriel Raniere"
                          },
                          "roles": {
                            "type": "array",
                            "description": "Array contendo as permissões do usuário na plataforma",
                            "items": {
                              "type": "string"
                            },
                            "example": [
                              "guardian"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "description": "Status do usuário. Pode ser ativo (ACTIVE), convidado (INVITED) ou não convidado (UNSENT)",
                            "example": "ACTIVE"
                          },
                          "id": {
                            "type": "string",
                            "description": "Identificador do documento do usuário",
                            "format": "ObjectId"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/members/search": {
      "get": {
        "tags": [
          "Membros"
        ],
        "summary": "Buscar membros",
        "description": "Buscar membros. Essa busca pode ser feita com filtros através dos parâmetros listados bem como texto livre no parâmetro q.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "$ref": "#/components/parameters/UpdatedAt"
          },
          {
            "$ref": "#/components/parameters/Status"
          },
          {
            "$ref": "#/components/parameters/Active"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Texto de busca. Pode ser o nome ou alias do membro.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:read"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "Número e lista de membros encontrados.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "Número de membros encontrados",
                      "example": 1
                    },
                    "hits": {
                      "type": "array",
                      "description": "Lista de membros encontrados ordenados por quão bem se encaixam na busca",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/communities": {
      "get": {
        "tags": [
          "Redes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "network:communities:read"
        ],
        "x-layers-context": [
          "user",
          "apps"
        ],
        "summary": "Listar comunidades da rede",
        "description": "Listar as comunidades na rede",
        "responses": {
          "200": {
            "description": "Lista de comunidades na rede",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Community"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/communities/users/estimate": {
      "post": {
        "tags": [
          "Redes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "network:communities:read"
        ],
        "x-layers-context": [
          "user",
          "apps"
        ],
        "summary": "Estimativa de usuários",
        "description": "Estimar a quantidade de usuários contemplados nesse público alvo por comunidade.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "targets",
                  "roles"
                ],
                "properties": {
                  "roles": {
                    "type": "array",
                    "description": "Permissões que devem estar inclusas nos targets",
                    "items": {
                      "type": "string",
                      "example": "guardian"
                    }
                  },
                  "targets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id",
                        "community"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Tipo de entidade"
                        },
                        "id": {
                          "type": "string",
                          "description": "Identificador da entidade"
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome da entidade"
                        },
                        "community": {
                          "type": "string",
                          "description": "Identificador da comunidade"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de estimativas de usuários contidos nos targets para cada comunidade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "[identidicador_da_comunidade]": {
                      "type": "object",
                      "properties": {
                        "population": {
                          "type": "number",
                          "description": "Número aproximado de usuários que estão inclusos nos targets"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/roles/estimate": {
      "post": {
        "tags": [
          "Redes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "network:roles:read"
        ],
        "x-layers-context": [
          "user",
          "apps"
        ],
        "summary": "Estimar a quantidade de usuários por permissão",
        "description": "Estimar a quantidade de usuários com cada permissão estão contidos no público alvo especificado.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "targets",
                  "roles"
                ],
                "properties": {
                  "roles": {
                    "type": "array",
                    "description": "Permissões que devem estar inclusas nos targets",
                    "items": {
                      "type": "string",
                      "example": "guardian"
                    }
                  },
                  "targets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "type",
                        "id",
                        "community"
                      ],
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Tipo de entidade. Para redes deve ser 'tag'"
                        },
                        "id": {
                          "type": "string",
                          "description": "Identificador da entidade"
                        },
                        "name": {
                          "type": "string",
                          "description": "Nome da entidade"
                        },
                        "community": {
                          "type": "string",
                          "description": "Identificador da comunidade"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Estimativa das quantidades de usuários com cada permissão no público alvo selecionado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "As propriedades desse objeto são as permissões que existem na rede. Se houver permissões personalizadas elas também serão listadas.",
                  "properties": {
                    "admin": {
                      "type": "number",
                      "description": "Número de usuários com permissão de administrador contidos no público alvo especificado."
                    },
                    "coordenator": {
                      "type": "number",
                      "description": "Número de usuários com permissão de coordenador contidos no público alvo especificado."
                    },
                    "professor": {
                      "type": "number",
                      "description": "Número de usuários com permissão de professor contidos no público alvo especificado."
                    },
                    "guardian": {
                      "type": "number",
                      "description": "Número de usuários com permissão de familiar contidos no público alvo especificado."
                    },
                    "student": {
                      "type": "number",
                      "description": "Número de usuários com permissão de estudante contidos no público alvo especificado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/roles": {
      "get": {
        "tags": [
          "Redes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "network:communities:read"
        ],
        "x-layers-context": [
          "user",
          "apps"
        ],
        "summary": "Listar permissões",
        "description": "Listar as permissões que existem na comunidade",
        "responses": {
          "200": {
            "description": "Lista de permissões existentes nas comunidades da rede",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "value": {
                        "type": "string",
                        "example": "admin"
                      },
                      "title": {
                        "type": "string",
                        "example": "👩‍💻 Administrador Geral"
                      },
                      "description": {
                        "type": "string",
                        "example": "Acesso à todos os recursos do Sistema"
                      },
                      "group": {
                        "type": "string",
                        "example": "Geral"
                      },
                      "hierarchy": {
                        "type": "string",
                        "example": 4
                      },
                      "pinned": {
                        "type": "string",
                        "example": true
                      },
                      "includes": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        },
                        "example": [
                          "feed:read",
                          "sync:manage",
                          "agenda:admin",
                          "post:manage",
                          "ticket:manage",
                          "report:manage",
                          "group:manage",
                          "member:manage",
                          "user:manage",
                          "season:manage",
                          "export:manage",
                          "payments:admin",
                          "statistics:read"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/network/tags": {
      "get": {
        "tags": [
          "Redes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "network:communities:read"
        ],
        "x-layers-context": [
          "user",
          "apps"
        ],
        "summary": "Listar tags da rede",
        "description": "Listar as tags disponíveis na rede",
        "responses": {
          "200": {
            "description": "Lista de estimativas de usuários contidos nos targets para cada comunidade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "Tags disponíveis na rede",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/season/active": {
      "get": {
        "tags": [
          "Períodos"
        ],
        "summary": "Ver Período Ativo",
        "description": "Ver período ativo.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "season:manage"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Períodos existentes na comunidade",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            }
          }
        }
      }
    },
    "/season": {
      "post": {
        "tags": [
          "Períodos"
        ],
        "summary": "Criar Período",
        "description": "Criar um novo período.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "season:manage"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Season"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Períodos existentes na comunidade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Season"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Períodos"
        ],
        "summary": "Listar Períodos",
        "description": "Listar períodos existentes.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "season:manage"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Períodos existentes na comunidade",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Season"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/season/{seasonId}/activate": {
      "post": {
        "tags": [
          "Períodos"
        ],
        "summary": "Ativar Período",
        "description": "Ativar um período.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "season:manage"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathSeasonId"
          }
        ],
        "responses": {
          "200": {
            "description": "Períodos existentes na comunidade",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Nome do período ativado"
                }
              }
            }
          }
        }
      }
    },
    "/season/{seasonId}": {
      "delete": {
        "tags": [
          "Períodos"
        ],
        "summary": "Deletar Período",
        "description": "Deletar um período. Não pode ser o período ativo.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "season:manage"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathSeasonId"
          }
        ],
        "responses": {
          "204": {
            "description": "Período deletado com sucesso."
          }
        }
      }
    },
    "/sync": {
      "post": {
        "tags": [
          "Sincronização"
        ],
        "summary": "Sincronizar Dados",
        "description": "A sincronização de dados permite que sejam criados usuários, membros, grupos e seus vínculos por meio de uma única requisição. Esse processo pode ser feito substituindo as informações já cadastradas pelas informações na payload ou apenas adicionando as novas iformações sem remover as que não estão na payload.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "sync:manage"
        ],
        "x-layers-contexts": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "requestBody": {
          "description": "Objeto que contem informações de turmas, alunos e usuários",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "users": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "description": "Array contendo todos os usuários a serem criados",
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "description": "Indica se o usuário deve ser criado ativo ou não",
                              "example": true
                            },
                            "invite": {
                              "type": "boolean",
                              "description": "Indica se o usuário deve ser convidado quando for criado",
                              "example": false
                            },
                            "rolesSet": {
                              "type": "object",
                              "description": "Objeto indicando quais devem ser as permissões desse usuário",
                              "properties": {
                                "role": {
                                  "type": "boolean",
                                  "description": "Chave com o nome da permissão e tem um valor com o booleano indicando se esse usuário tem essa permissão",
                                  "example": true
                                }
                              }
                            },
                            "alias": {
                              "type": "string",
                              "description": "Identificador do usuário",
                              "example": "123abc"
                            },
                            "email": {
                              "type": "string",
                              "description": "Email do usuário",
                              "example": "gabriel.raniere@layers.education"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do usuário",
                              "example": "Gabriel Raniere"
                            },
                            "birth": {
                              "type": "string",
                              "description": "Data de nascimento do usuário no formato brasileiro",
                              "example": "05/12/2000"
                            }
                          }
                        }
                      }
                    }
                  },
                  "members": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "description": "Array contendo todos os membros a serem criados",
                        "items": {
                          "type": "object",
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "description": "Indica se o membro deve ser criado ativo",
                              "example": true
                            },
                            "users": {
                              "type": "array",
                              "description": "Array contendo os emails dos usuários vinculados com esse membro",
                              "items": {
                                "type": "string",
                                "example": "gabriel.raniere@layers.education"
                              }
                            },
                            "alias": {
                              "type": "string",
                              "description": "Identificador do aluno",
                              "example": "456def"
                            },
                            "birth": {
                              "type": "string",
                              "description": "Data de nascimento do membro no formato brasileiro",
                              "example": "22/08/2004"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do membro",
                              "example": "Rafael Teles"
                            }
                          }
                        }
                      }
                    }
                  },
                  "classrooms": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "description": "Array contendo todos os grupos a serem criados",
                        "items": {
                          "type": "object",
                          "properties": {
                            "active": {
                              "type": "boolean",
                              "description": "Indica se o grupo deve ser criado ativo",
                              "example": false
                            },
                            "alias": {
                              "type": "string",
                              "description": "Identificador do grupo",
                              "example": "2ANOEM"
                            },
                            "name": {
                              "type": "string",
                              "description": "Nome do grupo",
                              "example": "2˚ Ano do Ensino Médio"
                            },
                            "members": {
                              "type": "array",
                              "description": "Array contendo os Identificadores de todos os membros que estão matriculados nesse grupo. Membros não presentes nesse array serão removidos do grupo.",
                              "items": {
                                "type": "string",
                                "example": "123abc"
                              }
                            },
                            "membersSet": {
                              "type": "array",
                              "description": "Array contendo os Identificadores de novos membros que estão matriculados nesse grupo",
                              "items": {
                                "type": "string",
                                "example": "123abc"
                              }
                            },
                            "admins": {
                              "type": "array",
                              "description": "Array contendo informações de todos os usuários que serão administradores desse grupo. Usuários não presentes nesse array serão removidos do grupo.",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "email": {
                                    "type": "string",
                                    "description": "E-mail do usuário que deve ser administrador da turma",
                                    "example": "gabriel.raniere@layers.education"
                                  },
                                  "components": {
                                    "type": "array",
                                    "description": "Array com os identificadores dos componentes aos quais o administrador está vinculado",
                                    "items": {
                                      "type": "string",
                                      "description": "Identificador do componente",
                                      "example": "PORT"
                                    }
                                  }
                                }
                              }
                            },
                            "components": {
                              "type": "array",
                              "description": "Identificadores dos componentes vinculados à turma",
                              "items": {
                                "type": "string",
                                "description": "Identificador do componente vinculado à turma",
                                "example": "PORT"
                              }
                            },
                            "adminsSet": {
                              "type": "array",
                              "description": "Array contendo os emails de novos usuários que serão administradores desse grupo",
                              "items": {
                                "type": "string",
                                "example": "gabriel.raniere@layers.education"
                              }
                            },
                            "tags": {
                              "type": "array",
                              "description": "Array contendo os nomes de todas as tags que devem conter esse grupo",
                              "items": {
                                "type": "string",
                                "example": "Ensino Medio"
                              }
                            },
                            "fields": {
                              "type": "object",
                              "description": "Campos personalizados das turmas da comunidade. Podem variar de acordo com o tipo de comunidade e os apps instalados",
                              "properties": {
                                "tipo": {
                                  "type": "array",
                                  "description": "Tipo de ensino da turma",
                                  "items": {
                                    "type": "string",
                                    "description": "Identificador do tipo de ensino",
                                    "example": "regular",
                                    "enum": [
                                      "regular",
                                      "idiomas",
                                      "extracurricular"
                                    ]
                                  }
                                },
                                "nivel": {
                                  "type": "array",
                                  "description": "Nível de ensino da turma",
                                  "items": {
                                    "type": "string",
                                    "description": "Identificador do nível de ensnio",
                                    "example": "EI:G0",
                                    "enum": [
                                      "EI:G0",
                                      "EI:G1",
                                      "EI:G2",
                                      "EI:G3",
                                      "EI:G4",
                                      "EI:G5",
                                      "EF:A1",
                                      "EF:A2",
                                      "EF:A3",
                                      "EF:A4",
                                      "EF:A5",
                                      "EF:A6",
                                      "EF:A7",
                                      "EF:A8",
                                      "EF:A9",
                                      "EM:S1",
                                      "EM:S2",
                                      "EM:S3"
                                    ]
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  },
                  "components": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "Nome do componente",
                              "example": "Português"
                            },
                            "alias": {
                              "type": "string",
                              "description": "Identificador do componente",
                              "example": "PORT"
                            },
                            "fields": {
                              "type": "object",
                              "description": "Campos personalizados dos componentes da comunidade. Podem variar de acordo com o tipo de comunidade e os apps instalados.",
                              "properties": {
                                "@education:basic": {
                                  "type": "object",
                                  "description": "Campos personalizados de educação básicos.",
                                  "properties": {
                                    "inep": {
                                      "type": "array",
                                      "description": "Lista de identificadores de disciplinas relacionados a esse componente",
                                      "items": {
                                        "type": "string",
                                        "description": "Identificador de uma disciplina",
                                        "enum": [
                                          "1",
                                          "2",
                                          "3",
                                          "4",
                                          "5",
                                          "6",
                                          "7",
                                          "8",
                                          "9",
                                          "10",
                                          "11",
                                          "12",
                                          "13",
                                          "14",
                                          "16",
                                          "17",
                                          "20",
                                          "21",
                                          "23",
                                          "25",
                                          "26",
                                          "27",
                                          "28",
                                          "29",
                                          "30",
                                          "31",
                                          "32"
                                        ]
                                      }
                                    }
                                  }
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listas de identificadores dos usuários, membros e grupos criados pelo processo de sincronização",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "users": {
                      "type": "array",
                      "description": "Array contendo os identificadores dos documentos de usuários criados",
                      "items": {
                        "type": "string"
                      }
                    },
                    "members": {
                      "type": "array",
                      "description": "Array contendo os identificadores dos documentos de membros criados",
                      "items": {
                        "type": "string"
                      }
                    },
                    "groups": {
                      "type": "array",
                      "description": "Array contendo os identificadores dos documentos de grupos criados",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tags": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Listar tags",
        "description": "Listar tags cadastradas",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de tags",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/tags/search": {
      "get": {
        "tags": [
          "Tags"
        ],
        "summary": "Buscar tags",
        "description": "Buscar tags",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "member:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Texto de busca pelo nome da tag",
            "required": false,
            "example": "Ensino Médio",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Lista de usuários que estão vinculados ao membro",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "Número de tags que passam pela query",
                      "example": 1
                    },
                    "hits": {
                      "type": "array",
                      "description": "Tags encontradas",
                      "items": {
                        "$ref": "#/components/schemas/Tag"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Criar Usuário",
        "description": "Criar uma conta de acesso para um usuário da Layers Education",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "user:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Listar usuários",
        "description": "Listar contas de acesso de usuários.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "$ref": "#/components/parameters/UpdatedAt"
          },
          {
            "$ref": "#/components/parameters/Status"
          },
          {
            "$ref": "#/components/parameters/Active"
          },
          {
            "$ref": "#/components/parameters/Roles"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "user:read"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "Número de Usuários encontrados",
                      "example": 10
                    },
                    "hits": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/search": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Buscar usuários",
        "description": "Buscar contas de acesso de usuários. Essa busca pode ser feita com filtros através dos parâmetros listados bem como texto livre no parâmetro q.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/CreatedAt"
          },
          {
            "$ref": "#/components/parameters/UpdatedAt"
          },
          {
            "$ref": "#/components/parameters/Status"
          },
          {
            "$ref": "#/components/parameters/Active"
          },
          {
            "$ref": "#/components/parameters/Roles"
          },
          {
            "name": "q",
            "in": "query",
            "description": "Texto de busca. Pode ser o nome, e-mail ou alias do usuário.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "user:read"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total": {
                      "type": "number",
                      "description": "Número de Usuários encontrados",
                      "example": 10
                    },
                    "hits": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/User"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/activate": {
      "post": {
        "tags": [
          "Usuários"
        ],
        "summary": "Reativar um usuário",
        "description": "Reativa o usuário que está com status `active` = false",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "user:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Retorna as informações do usuário reativado",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}": {
      "delete": {
        "tags": [
          "Usuários"
        ],
        "summary": "Deletar usuário",
        "description": "Remover o usuário específicado da Layers. Essa ação **pode** ser revertida.",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "user:write"
        ],
        "x-layers-context": [
          "user",
          "member"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Usuários"
        ],
        "summary": "Atualizar informações do usuário",
        "description": "Atualizar informações de contas de acesso do usuário.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathUserId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "user:write"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/User"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Visualizar informações do usuário",
        "description": "Visualizar informações da conta de acesso do usuário especificado.",
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathUserId"
          }
        ],
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "user:read"
        ],
        "x-layers-context": [
          "user",
          "app"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/related": {
      "get": {
        "tags": [
          "Usuários"
        ],
        "summary": "Visualizar membros relacionados",
        "description": "Visualizar todos os membros relacionados com o usuário especificado",
        "security": [
          {
            "Bearer": []
          }
        ],
        "x-layers-permissions": [
          "user:write"
        ],
        "x-layers-context": [
          "user",
          "member"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Community-id"
          },
          {
            "$ref": "#/components/parameters/PathUserId"
          }
        ],
        "responses": {
          "200": {
            "description": "Membros relacionados com o usuário especificado",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "members": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Member"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "User": {
        "type": "object",
        "description": "Usuário da Layers Education",
        "required": [
          "email",
          "name",
          "roles"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "ObjectId",
            "description": "Identificador do documento do usuário",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Data de criação do usuário em UTC corrigido para o fuso da comunidade",
            "example": "2020-01-01T00:00:00.000Z",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Data da última modificação do usuário em UTC corrido para o fuso da comunidade",
            "example": "2020-01-01T00:00:00.000Z",
            "readOnly": true
          },
          "active": {
            "type": "boolean",
            "description": "Chave que indica se o usuário está ativo (quando o usuário é apagado, essa chave é mudada para false)",
            "example": true
          },
          "community": {
            "type": "string",
            "description": "Identificador da communidade do usuário",
            "example": "test",
            "readOnly": true
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "INVITED",
              "UNSENT"
            ],
            "description": "Status do usuário. Pode ser ativo (ACTIVE), convidado (INVITED) ou não convidado (UNSENT)",
            "example": "ACTIVE",
            "readOnly": true
          },
          "invitationCount": {
            "type": "number",
            "description": "Numero de convites enviados para o usuário",
            "example": 2,
            "readOnly": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email do usuário",
            "example": "exemplo@tenda.digital"
          },
          "name": {
            "type": "string",
            "description": "Nome do usuário",
            "example": "Gabriel Raniere"
          },
          "roles": {
            "type": "array",
            "description": "Array contendo as permissões do usuário na plataforma",
            "items": {
              "type": "string"
            },
            "example": [
              "guardian",
              "professor"
            ]
          },
          "address": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "CEP do usuário",
                "example": "01414-001"
              },
              "state": {
                "type": "string",
                "description": "Estado do usuário",
                "example": "SP"
              },
              "city": {
                "type": "string",
                "description": "Cidade do usuário",
                "example": "São Caetano do Sul"
              },
              "district": {
                "type": "string",
                "description": "Bairro do usuário",
                "example": "Centro"
              },
              "address": {
                "type": "string",
                "description": "Rua do usuário",
                "example": "Rua Pará"
              },
              "number": {
                "type": "string",
                "description": "Numero da casa do usuário",
                "example": "79"
              }
            }
          }
        }
      },
      "Member": {
        "type": "object",
        "required": [
          "name",
          "alias"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Identificador do documento do membro",
            "example": "12345678",
            "readOnly": true
          },
          "createdAt": {
            "type": "string",
            "description": "Data de criação do membro em UTC corrigido para o fuso da comunidade",
            "example": "2020-01-01T00:00:00.000Z",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Data da última modificação do membro em UTC corrido para o fuso da comunidade",
            "example": "2020-01-01T00:00:00.000Z",
            "readOnly": true
          },
          "active": {
            "type": "boolean",
            "description": "Chave que indica se o membro está ativo (quando o membro é apagado, essa chave é mudada para false)",
            "example": true
          },
          "community": {
            "type": "string",
            "description": "Identificador da communidade do membro",
            "example": "test",
            "readOnly": true
          },
          "access": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "permissions": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "description": "Permissões do usuário atrelado a esse membro",
                    "example": "guardian"
                  }
                },
                "user": {
                  "type": "string",
                  "description": "Identificador do documento do usuário"
                }
              }
            }
          },
          "name": {
            "type": "string",
            "description": "Nome do membro",
            "example": "Gabriel Raniere"
          },
          "alias": {
            "type": "string",
            "description": "RA do membro",
            "example": "abc123d"
          },
          "birth": {
            "type": "string",
            "description": "Data de nascimento",
            "example": "2010-04-10T00:00:00.000Z"
          }
        }
      },
      "Group": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "ObjectId",
            "description": "identificador do documento do grupo",
            "readOnly": true
          },
          "alias": {
            "type": "string",
            "description": "Identificador da turma único para a comunidade",
            "readOnly": false,
            "example": "3A"
          },
          "createdAt": {
            "type": "string",
            "description": "Data de criação do grupo em UTC corrigido para o fuso da comunidade",
            "example": "2020-01-01T00:00:00.000Z",
            "readOnly": true
          },
          "updatedAt": {
            "type": "string",
            "description": "Data da última modificação do grupo em UTC corrido para o fuso da comunidade",
            "example": "2020-01-01T00:00:00.000Z",
            "readOnly": true
          },
          "community": {
            "type": "string",
            "description": "Identificador da communidade do grupo",
            "example": "test",
            "readOnly": true
          },
          "name": {
            "type": "string",
            "description": "Nome do grupo",
            "example": "Terceiro ano A"
          },
          "tags": {
            "type": "array",
            "description": "tags às quais esse grupo pertence",
            "items": {
              "type": "object",
              "required": [
                "id",
                "name"
              ],
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Identificador do documento da tag"
                },
                "name": {
                  "type": "string",
                  "description": "Nome da tag",
                  "example": "Ensino Fundamental"
                }
              }
            }
          },
          "admins": {
            "type": "array",
            "description": "administradores do grupo",
            "items": {
              "type": "object",
              "properties": {
                "user": {
                  "type": "string"
                }
              }
            }
          },
          "active": {
            "type": "boolean",
            "description": "Chave que indica se o grupo está ativo (quando o grupo é apagado, essa chave é mudada para false)",
            "example": true
          },
          "syncedAt": {
            "type": "string",
            "description": "data da última vez que esse grupo foi modificado pela rota /sync",
            "example": "2020-03-01T00:00:00.000Z",
            "readOnly": true
          },
          "season": {
            "type": "string",
            "description": "temporada à qual esse grupo pertence",
            "example": "Ano letivo 2020",
            "readOnly": true
          },
          "fields": {
            "type": "object",
            "description": "Campos personalizados da comunidade. Podem ser diferentes de comunidade para comunidade dependendo do tipo de também dos apps instalados na comunidade.",
            "properties": {
              "@education:basic": {
                "type": "object",
                "properties": {
                  "tipo": {
                    "type": "object",
                    "description": "Tipo de ensino",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "Identificador do nível de ensino",
                        "enum": [
                          "regular",
                          "idiomas",
                          "extracurricular"
                        ]
                      },
                      "label": {
                        "type": "string",
                        "description": "Nome do nível de ensino",
                        "enum": [
                          "Ensino Regular",
                          "Ensino de Idiomas",
                          "Curso Extracurricular"
                        ]
                      }
                    }
                  },
                  "nivel": {
                    "type": "object",
                    "description": "Nível de ensino",
                    "properties": {
                      "_id": {
                        "type": "string",
                        "description": "Identificador do nível de ensino",
                        "enum": [
                          "EI:G0",
                          "EI:G1",
                          "EI:G2",
                          "EI:G3",
                          "EI:G4",
                          "EI:G5",
                          "EF:A1",
                          "EF:A2",
                          "EF:A3",
                          "EF:A4",
                          "EF:A5",
                          "EF:A6",
                          "EF:A7",
                          "EF:A8",
                          "EF:A9",
                          "EM:S1",
                          "EM:S2",
                          "EM:S3"
                        ]
                      },
                      "label": {
                        "type": "string",
                        "description": "Descrição do nível de ensino",
                        "enum": [
                          "Educação Infantil / Berçario",
                          "Educação Infantil / G1 (0 a 1 ano)",
                          "Educação Infantil / G2 (1 a 2 anos)",
                          "Educação Infantil / G3 (2 anos)",
                          "Educação Infantil / G4 (3 anos)",
[...]
