{
  "openapi": "3.0.0",
  "info": {
    "title": "API de OAuth",
    "description": "A API de OAuth do Layers permite que você acesse informações da conta do usuário bem como de seus membros e grupos relacionados com o consentimento do usuário",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api.layers.digital/v1"
    }
  ],
  "paths": {
    "/oauth/account/info": {
      "get": {
        "parameters": [
          {
            "name": "includes",
            "in": "query",
            "description": "Informações adicionais que devem ser incluídas",
            "required": false,
            "schema": {
              "type": "string",
              "example": "groups"
            }
          }
        ],
        "tags": [
          "Informações de conta"
        ],
        "summary": "Informações de conta",
        "description": "Visualizar informações da conta do usuário. As informações que serão retornadas dependem do escopo do seu app e também da chave `includes` na querystring. Para ver informações de grupos, use o parâmetro `?includes=group`",
        "security": [
          {
            "OAuth2": [
              "openid",
              "profile",
              "fullname",
              "email",
              "related.communities"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Informações de conta cujo escopo do app dá acesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/AccountInfo"
                }
              }
            }
          }
        }
      }
    },
    "/oauth/user/info": {
      "get": {
        "tags": [
          "Informações de usuário"
        ],
        "summary": "Informações de usuário",
        "description": "Visualizar informações de um usuário. As informações que serão retornadas dependem do escopo do seu app bem como dos valores passados na chave `includes`. Para que a rota retorne as informações de membros, grupos ou comunidades relacionadas seu app deve passar na chave `includes` da querystring os valores `members`, `groups` ou `community`. Caso deseje retornar mais de uma dessas informações separe os valores por vírgulas na chave `includes`.",
        "security": [
          {
            "OAuth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Informações de usuário cujo escopo do app dá acesso",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/UserInfo"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:Calendar:getRelated": {
      "post": {
        "tags": [
          "Calendar:getRelated"
        ],
        "summary": "Prover informações de calendário",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de calendário por meio da action `@layers:Calendar:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:Calendar:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:Calendar:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:AcademicRecords:getRelated": {
      "post": {
        "tags": [
          "AcademicRecords:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:education:AcademicRecords:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:education:AcademicRecords:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:AcademicRecords:markRecordsAsViewed": {
      "post": {
        "tags": [
          "AcademicRecords:markRecordsAsViewed"
        ],
        "summary": "Marcar Registros como vistos",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de registros acadêmicos por meio da action `@layers:education:AcademicRecords:markRecordsAsViewed` receberão a requisição no formato abaixo e devem respondê-la com o status HTTP `200` indicando que os registros foram marcados como lidos.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:education:AcademicRecords:markRecordsAsViewed"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/@layers:education:GradeBooks:getRelated": {
      "post": {
        "tags": [
          "GradeBooks:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de notas acadêmicas por meio da action `@layers:education:GradeBooks:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:education:GradeBooks:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:education:GradeBooks:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:education:Timetables:getRelated": {
      "post": {
        "tags": [
          "Timetables:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:education:Timetables:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:education:Timetables:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/layers:getHomeInfo": {
      "post": {
        "tags": [
          "getHomeInfo"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de grade horária por meio da action `@layers:education:Timetables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:getHomeInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:getHomeInfo"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:health:MedicalRecord:getRelated": {
      "post": {
        "tags": [
          "MedicalRecord:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de ficha horária por meio da action `@layers:health:MedicalRecord:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:health:MedicalRecord:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:health:MedicalRecord:getRelated"
                }
              }
            }
          }
        }
      }
    },
    "/@layers:payments:Payables:getRelated": {
      "post": {
        "tags": [
          "Payables:getRelated"
        ],
        "summary": "Prover informações",
        "description": "O Hub de API's no Layers permite que apps troquem informações por meio de actions: protocolos especificando o formato de requisição e resposta aceitos para uma determinada informação. Apps que provém informações de cobranças por meio da action `@layers:payments:Payables:getRelated` receberão a requisição no formato abaixo e devem respondê-la com todos os campos obrigatórios.",
        "security": [
          {
            "Bearer": [],
            "layers-context": [
              "app"
            ]
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/requestBodies/@layers:payments:Payables:getRelated"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/responseBodies/@layers:payments:Payables:getRelated"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "Community-id": {
        "name": "community-id",
        "in": "header",
        "description": "Identificador da comunidade",
        "required": true,
        "schema": {
          "type": "string",
          "example": "test"
        }
      }
    },
    "responseBodies": {
      "AccountInfo": {
        "type": "object",
        "description": "Informações da conta para o escopo `profile`",
        "properties": {
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data de criação da conta"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Data da última modificação da conta"
          },
          "language": {
            "type": "string",
            "description": "Língua da conta",
            "example": "pt-BR"
          },
          "timezone": {
            "type": "string",
            "description": "Fusorário da conta",
            "example": "America/Sao_Paulo"
          },
          "firstName": {
            "type": "string",
            "description": "Primeiro nome da conta",
            "example": "João"
          },
          "id": {
            "type": "string",
            "format": "ObjectId",
            "description": "identificador da conta"
          },
          "lastName": {
            "type": "string",
            "description": "Último sobrenome da conta",
            "example": "Silva"
          },
          "name": {
            "type": "string",
            "description": "Nome completo da conta",
            "example": "João Silva"
          },
          "communities": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "color": {
                  "type": "string",
                  "description": "Cor principal da comunidade",
                  "example": "#53d0e9"
                },
                "community": {
                  "type": "string",
                  "description": "Identificador da comunidade",
                  "example": "demo-escola"
                },
                "icon": {
                  "type": "string",
                  "description": "Ícone da comunidade",
                  "example": "https://cdn.layers.digital/admin/uploads/e38fc6cb-4991-41cd-8e59-29154315f41d/School_logo.png"
                },
                "name": {
                  "type": "string",
                  "description": "Nome da comunidade",
                  "example": "Colégio Walter White"
                }
              }
            }
          }
        }
      },
      "UserInfo": {
        "type": "object",
        "properties": {
          "user": {
            "type": "object",
            "properties": {
              "lastSeenAt": {
                "type": "string",
                "format": "date-time",
                "description": "Data da ultima vez que o usuário visualizou o app"
              },
              "id": {
                "type": "string",
                "format": "ObjectId",
                "description": "Identificador do usuário"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "Data de criação do usuário"
              },
              "UpdatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "Data da última edição do usuário"
              },
              "Alias": {
                "type": "string",
                "description": "Identidicador do usuário na comunidade",
                "example": "user1"
              },
              "roles": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "Perfis do usuário na comunidade"
                }
              },
              "permissions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "description": "permissões de usuário na comunidade"
                }
              }
            }
          },
          "community": {
            "type": "object",
            "properties": {
              "color": {
                "type": "string",
                "description": "Cor principal da comunidade"
              },
              "community": {
                "type": "string",
                "description": "Identificador da comunidade",
                "example": "test"
              },
              "icon": {
                "type": "string",
                "description": "Logo da comunidade"
              },
              "name": {
                "type": "string",
                "description": "Nome da comunidade"
              }
            }
          },
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "ObjectId",
                  "description": "Identificador do grupo"
                },
                "name": {
                  "type": "string",
                  "description": "Nome do grupo",
                  "example": "Primeiro Ano"
                },
                "alias": {
                  "type": "string",
                  "description": "Identificador do grupo na comunidade",
                  "example": "primeiro-ano"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data de criação do grupo"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data da última modificação do grupo"
                },
                "season": {
                  "type": "string",
                  "description": "Periodo escolar ao qual o grupo pertence",
                  "example": 2020
                },
                "enrollment": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "ObjectId",
                      "description": "Identificador da matrícula"
                    },
                    "kind": {
                      "type": "string",
                      "description": "Tipo da entidade à qual pertence a matrícula",
                      "example": "member"
                    },
                    "entity": {
                      "type": "string",
                      "format": "ObjectId",
                      "description": "Identificador da entidade matriculada"
                    },
                    "group": {
                      "type": "string",
                      "format": "ObjectId",
                      "description": "Identificador do grupo à qual pertence a matrícula"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data de criação da matrícula"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Data da última modificação do grupo"
                    }
                  }
                }
              }
            }
          },
          "Members": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "description": "Nome do membro",
                  "example": "João Pedro Silva"
                },
                "createdAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data de criação do membro"
                },
                "updatedAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Data da última modificação do membro"
                },
                "alias": {
                  "type": "string",
                  "description": "Identificador do membro na comunidade",
                  "example": "member1"
                },
                "id": {
                  "type": "string",
                  "format": "ObjectId",
                  "description": "Identificador do membrp"
                },
                "groups": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "format": "ObjectId",
                        "description": "Identificador do grupo"
                      },
                      "name": {
                        "type": "string",
                        "description": "Nome do grupo",
                        "example": "Primeiro Ano"
                      },
                      "alias": {
                        "type": "string",
                        "description": "Identificador do grupo na comunidade",
                        "example": "primeiro-ano"
                      },
                      "createdAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data de criação do grupo"
                      },
                      "updatedAt": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Data da última modificação do grupo"
                      },
                      "season": {
                        "type": "string",
                        "description": "Periodo escolar ao qual o grupo pertence",
                        "example": 2020
                      },
                      "enrollment": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "ObjectId",
                            "description": "Identificador da matrícula"
                          },
                          "kind": {
                            "type": "string",
                            "description": "Tipo da entidade à qual pertence a matrícula",
                            "example": "member"
                          },
                          "entity": {
                            "type": "string",
                            "format": "ObjectId",
                            "description": "Identificador da entidade matriculada"
                          },
                          "group": {
                            "type": "string",
                            "format": "ObjectId",
                            "description": "Identificador do grupo à qual pertence a matrícula"
                          },
                          "createdAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data de criação da matrícula"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time",
                            "description": "Data da última modificação do grupo"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://id.layers.digital",
            "tokenUrl": "https://api.layers.digital/oauth/token",
            "scopes": {
              "openid": "Garante acesso ao id da conta do usuário",
              "profile": "Garante acesso às informações do perfil do usuário",
              "fullname": "Garante acesso ao nome do usuário",
              "email": "Garante acesso ao e-mail do usuário",
              "related.communities": "Garante acesso a informações das comunidades às quais o usuário está vinculado",
              "related.groups": "Garante acesso a informações dos grupos aos quais o usuário está vinculado",
              "related.members": "Garante acesso a informações dos alunos vinculados ao usuário",
              "related.members.groups": "Garante acesso a informações dos grupos aos quais alunos vinculados com o usuário estão vinculados"
            }
          }
        }
      }
    }
  },
  "x-nav": [
    {
      "name": "Autenticação OAuth",
      "tags": [
        "Informações de conta",
        "Informações de usuário"
      ]
    }
  ]
}