docs-menu {
  background-color: var(--background);
  border-right: solid 1px var(--line-rule-color);
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: transform 200ms cubic-bezier(0.2, 1, 0.2, 1);
  transform: var(--menu-transform, none);
  width: var(--menu-width);
  z-index: 1;
}

docs-menu > header {
  align-items: center;
  border-bottom: solid 1px var(--line-rule-color);
  display: flex;
  flex: none;
  height: var(--header-height);
  padding: 0 1.4rem 0 0.8rem;
  user-select: none;
}

docs-menu docs-menu-toggle {
  margin-right: 0.75em;
}

docs-menu .MenuLogo {
  color: var(--text-color--dark);
  font-family: var(--heading-font-family);
  height: 25px;
}

docs-menu > .Menu {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

docs-menu nav {
  padding: 2rem 1.5rem;
}

.MenuControls {
  border-bottom: solid 1px var(--line-rule-color);
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  /* padding: 1em; */
}

.SelectCategory,
.SelectCategory .Dropdown,
.SelectCategory .Dropdown-button {
  width: 100%;
}

.SelectCategory .Dropdown-panel {
  min-width: 100%;
}

.SelectCategory-framework {
  align-items: center;
  display: flex;
}

.SelectCategory-icon {
  height: 18px;
  width: 18px;
  margin-right: 0.7em;
}

.SelectCategory .Select-option {
  padding-left: 0.75em;
}

.SelectCategory .Dropdown-button {
  font-size: 14px;
  border: none !important;
  padding: 1.5em 1.5em !important;
}

.SelectCategory .Dropdown-arrow {
  width: 1em;
  height: 1em;
}

.SelectCategory .Select-option {
  font-size: 14px;
  padding: 0.8em 1.3em;
}