/* SelectCategory Styling */
.SelectCategory,
.SelectCategory .Dropdown,
.SelectCategory .Dropdown-button {
  width: 100%;
}

.SelectCategory .Dropdown-panel {
  min-width: 100%;
}

.SelectCategory-framework {
  align-items: center;
  display: flex;
}

.SelectCategory-icon {
  height: 28px;
  width: 28px;
  margin-right: 0.7em;
  border-radius: 35%;
}

.SelectCategory .Select-option {
  padding-left: 0.75em;
}

.SelectCategory .Dropdown-button {
  font-size: 14px;
  border: none !important;
  padding: 1em 1em !important;
  border-radius: 0 !important;
}

.SelectCategory .Dropdown-arrow {
  width: 1em;
  height: 1em;
}

.SelectCategory .Select-option {
  font-size: 14px;
  padding: 0.8em 1.3em;
}

.SelectCategory .Dropdown-button:hover {
  background-color: rgba(var(--accent-color-rgb), 0.05);
}