docs-code[language="http"] > pre {
  /* background-color: var(--text-color--dark); */
  border-radius: 7px;
  padding: 0 2em 0 0;
  background: #fafafa;
  box-shadow: 0 2px 3px -2px rgba(0,0,0,0.1), 0 2px 16px 0px rgba(0,0,0,0.1);
}

docs-code[language="http"]:before {
  display: none;
}

docs-code[language="http"] code {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
}

docs-code[language="http"] .token {
  color: inherit;
}


/* URL Method */
docs-code[language="http"] .method > .token {
  --color: 119, 161, 250;
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  color: rgb(var(--color));
  background-color: rgba(var(--color), 0.15);
  user-select: none;
}

docs-code[language="http"] .method .delete {
  --color: var(--api-red);
}

docs-code[language="http"] .method .put {
  --color: var(--api-yellow);
}

docs-code[language="http"] .method .post {
  --color: var(--api-blue);
}

docs-code[language="http"] .method .get {
  --color: var(--api-green);
}

/* URL Schema */
docs-code[language="http"] .token.schema {
  color: rgba(0, 0, 0, 0.4);
}

/* URL Host */
docs-code[language="http"] .token.host {
  color: rgba(0, 0, 0, 0.7);
}

/* URL Path */
docs-code[language="http"] .token.path {
  color: dodgerblue;
}

docs-code[language="http"] .token.path .version {
  color: rgba(0, 0, 0, 0.7);
}

docs-code[language="http"] .token.path .param {
  /* color: #006ada; */
  color: #42b983
}

/* URL Query Params */
docs-code[language="http"] .token.query .separator {
  color: darkgray;
} 

docs-code[language="http"] .token.query .param {
  color: #8454ff;
}

docs-code[language="http"] .token.query .param .key {
  font-weight: bold;
}

docs-code[language="http"] .token.query .param .value {
  color: #42b983;
}

docs-code[language="http"] .token.query .param .value .number {
  color: #4caf50;
  font-weight: bold;
}