docs-page.iframe {
  background-color: white;
  margin-left: 0;
  display: block;
  z-index: 1;
  position: relative;
}

docs-page.iframe > main {
  margin: 0 !important;
  padding: 0 !important;
}

docs-page.iframe iframe {
  border: none;
  width: 100%;
  height: calc(100vh - var(--header-height));
}