.Zoom-Image-Container {
  transition: transform .2s; /* Animation */
  padding: 10px;
  background-color: white;
  z-index: 90000;
  overflow: visible;
  position: relative;
}
.Zoom-Image-Container img {
	width:100%;
	height:auto;
}
.Zoom-Image-Container:hover {
  transform: scale(2.5);
}
