docs-openapi-parameters {
  display: block;
  font-family: var(--font-family);
  /* border: 2px solid chocolate; */
}

.parameters-container {
  display: flex;
  flex-direction: column;
  /* margin: 0; */
  padding: 0;
}

.parameter {
  list-style: none;
  margin: 2px;
  border-bottom: 1px solid var(--api-gray100);
}

.column-grow {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.column {
  display: inline;
}

.row-grow {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
}

.row {
  display: inline;
  margin-right: 0.3em;
  /* margin-bottom: 0px; */
  padding-bottom: 0px;
  /* border: 2px solid green; */
}

.parameter-label-required {
  color: rgb(var(--api-orange));
  font-weight: 700;
}

.parameter-name {
  color: var(--api-gray1000);
  font-weight: bold;
}

.parameter-description {
  color: var(--api-gray500);
}