/* Api Nested */
.Api-nested-section {
  box-shadow: 0 0 0 1px var(--api-gray100);
  border-radius: 14px;
  width: min-content;
  margin-top: 8px;
  margin-bottom: 8px;
}

.Api-nested-section.active {
  width: 100%;
}


.Api-nested-toggle-btn {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  /* height: 28px; */
  line-height: 100%;
  white-space: pre;
  font-family: var(--font-family);
  color: var(--api-gray400);
  font-size: 13px;
  padding: 6px 12px;
}

.Api-nested-section.active > .Api-nested-toggle-btn,
.Api-nested-section:not(.active):hover > .Api-nested-toggle-btn {
  background: rgba(0,0,0,0.02);
  color: var(--api-gray500)
}

.Api-nested-toggle-btn:focus {
  outline: none;
}

.Api-nested-section .Api-property-list-item {
  padding-left: 12px;
  padding-right: 12px;
}

.Api-nested-section.active > docs-openapi-schema {
  border-top: 1px solid var(--api-gray100);
}

