/* Tags */
docs-openapi-schema,
docs-openapi-schema-nested {
  display: block;
}

/* Api Property */
.Api-property-spec {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.Api-property-name {
  color: var(--api-gray1000) !important;
  font-size: 13px;
  /* font-family: var(--code-font-family); */
  /* font-weight: 700; */
  font-family: var(--font-family);
  font-weight: 600;
  letter-spacing: 0.04em;
  transition: color 0.2s;
}

.Api-property-name-ancestor {
  color: var(--api-gray400);
  font-weight: 400;
}

.Api-property-name:target {
  color: rgb(var(--api-purple)) !important;
}
.Api-property-name:target .Api-property-name-ancestor {
  color: inherit;
}

.Api-property-description {
  font-size: 12px;
  color: var(--api-gray500);
  margin: 4px 0 0 0;
  line-height: 1.2em;
}

/* Api Property List */
.Api-property-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Api-property-list-item {
  padding: 12px 0;
}

.Api-property-list-item:not(:first-child) {
  border-top: 1px solid var(--api-gray100);
}

/* Api Label */
.Api-label {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  margin-left: 6px;
}

.Api-label-optional {
  color: var(--api-gray300);
}

.Api-label-required {
  color: rgb(var(--api-orange));
  font-weight: 700;
}

.Api-label-type {
  color: rgb(var(--api-gray400));
  font-weight: 500;
}

.Api-label-option {
  font-size: 10px;
  border-bottom: 1px dotted var(--api-gray300);
  font-weight: 600;
  color: rgb(var(--api-purple));
  cursor: pointer;
}

.Api-label-tooltip {
  display: none;
  position: absolute;
  bottom: calc(100% + 8px);
  left: 50%;
  transform: translateX(calc(-50%));
  padding: 1em;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 2px 6px rgba(0,0,0,0.05);
  max-width: 200px;
  word-break: break-word;
  width: max-content;
  line-height: 1.3em;
}

.Api-label-tooltip > code {
  white-space: pre;
  color: rgb(var(--api-purple));
  background-color: rgba(var(--api-purple), 0.1);
  margin: 2px;
  display: inline-block;
}

.Api-label:hover > .Api-label-tooltip {
  display: block;
}

.Api-flex-grow {
  flex: auto 1 0;
}